#site-content{padding-bottom: 0!important;}
.bg-gray-f7{background-color:#f7f7f7;}
.h400{height:400px;}
.ml-60{margin-left:-60px;}

.mt105{margin-top:105px;}
.mt150{margin-top:150px;}
.ml-45{margin-left:-45px;}
.color-yellow{color:#FEF102}
.aboutus-btn{border-top-left-radius:20px;border-top-right-radius:20px;line-height:70px;background-color:#fff;height:70px;font-size:22px;}
.w20{width:20%;}
.mt-70{margin-top:-70px;}
.ml19{margin-left:19px;}
.bg-white{background-color:#fff;}
.color-white{color:#fff;}

#aboutus .mode-title{height:38px;background-color:#eac11d;font-size:21px;color:#fff;line-height:36px;display:inline-block;padding:0 15px;margin-bottom:20px;}
#aboutus .summary{background-color:#f7f7f7;padding-top:100px;line-height:2em;}
#aboutus .summary .content{padding-left:235px;padding-right:235px;}
#aboutus .summary .mingyi-title{font-size:21px;color:#fefefe;font-weight:bold;background-color:#42babc;padding-left:6px;padding-right:6px;height:28px;width:100px;}
#aboutus .summary .title{color:#42babc;font-size:22px;}
#aboutus .summary .aboutus-link{color:#036eb8;}
#aboutus .summary .aboutus-link .text:hover{text-decoration:underline;}
.mb100{margin-bottom:100px;}