#site-content{padding-bottom:100px!important;}
.w100{width:100%;}
#shapinghealth .main-content .content-first{font-size:16px;text-indent:2em;text-align:justify;}
#shapinghealth .main-content .content-second{text-indent:2em;text-align:justify;margin-top:20px;margin-bottom:30px;}
#shapinghealth .main-content .content-third{text-indent:2em;text-align:justify;padding-right:10px;}
#shapinghealth .main-content .content-fourth{text-indent:2em;text-align:justify;}
#shapinghealth .main-content .content-fifth{text-indent:2em;text-align:justify;margin-top:10px;}
#shapinghealth .main-content .content-sixth{text-indent:2em;text-align:justify;margin-top:62px;font-size:15px;}
.text18{font-size:18px;}
#shapinghealth .main-content .content-fourth-total{margin-left:10px;}
@media (max-width: 1199px){#shapinghealth .main-content .content-fourth-total{margin-left:0px;}#shapinghealth .main-content .content-third{padding-right:0px;}}
@media (max-width: 761px){#shapinghealth .shapinghealth-img{text-align:center;margin-top:10px;}}