#site-content{padding-bottom:0!important;}
#cataract .main-body{padding-left:104px;padding-right:104px;border-left:1px solid #abc83d;border-right:1px solid #abc83d;}
#cataract .main-body .main-content{padding-top:50px;}
#cataract .main-body .main-content .introduce{font-size:15px;text-indent:2em;line-height:2em;}
#cataract .main-body .main-content .introduce .tag{background-color:#faed00;color:#e50011;padding:0 5px;}
#cataract .main-body .main-content .text-content{background-color:#f7f7f7;padding:40px 75px 100px;font-size:15px;color:#555;}
#cataract .main-body .main-content .text-content .yellow-star{color:#f8b62c;margin-right:5px;margin-left:-20px;}
#cataract .main-body .main-content .text-content .text-red{color:#e50011;}
#cataract .main-body .main-content .text-content .tidy{text-align:justify;}
#cataract .main-body .main-content .text-content .booking:hover{text-decoration:underline;cursor:pointer;}
.color-036eb8{color:#036eb8;}
.text18{font-size:18px;}
.bg-abc83d{background-color:#abc83d;}
.mt25{margin-top:25px;}