#cancer{padding-top:50px;}
.text15{font-size:15px;}
#cancer .yellow-title{background-color:#faed00;width:150px;height:30px;display:inline-block;line-height:30px;font-size:15px;font-weight:bold;padding-left:10px;}
#cancer .total-title{font-size:28px;color:#777777;background-color:#fff;}
#cancer .color-gray7{color:#777777;}
.bg-daede5{background-color:#daede5;}
.bg-d2ebef{}
.bg-f5cfdd{background-color:#f5cfdd;}
.bg-f8eddb{background-color:#f8eddb;}
.color-036eb7{color:#036eb7;}
.bg-f5cfdd{background-color:#f5cfdd;}
.mt-3{margin-top:-3px;}
#cancer .line-title{border-top:1px solid #b4b4b5;margin-top:-48px;width:100%;}
#cancer .content-one .content-title{font-size:28px;color:#39a197;letter-spacing:5px;}
#cancer .content-one{color:#39a197;padding:30px 30px 0;}
#cancer .content-one .cancer-area{min-height:140px;}
#cancer .content-two .content-title{font-size:28px;color:#2ca6e0;text-align:center;letter-spacing:5px;}
#cancer .content-two{color:#2ca6e0;padding:30px;background-color:#d2ebef;}
#cancer .content-three .content-title{font-size:28px;color:#d7427e;text-align:center;letter-spacing:5px;}
#cancer .content-three .line-one{border-top:1px solid #d7427e;margin-top:46px;width:100%;}
#cancer .content-three .line-two{border-top:1px solid #d7427e;margin-top:16px;width:100%;}
#cancer .content-three .line-three{border-top:1px solid #d7427e;margin-top:36px;width:100%;}
#cancer .content-three{color:#d7427e;padding:30px;background-color:#f5cfdd;line-height:2em;}
#cancer .content-four .content-title{font-size:28px;color:#75553c;text-align:center;letter-spacing:5px;}
#cancer .content-four{color:#75553c;padding:30px 30px 38px;background-color:#f8eddb;padding-bottom:100px;}
#cancer .content-four .ename{color:#333;font-weight:bold;font-size:15px;}
#cancer .content-four .color-gray{color:#777;}
#cancer .content-four .department{color:#75553c;}
#cancer .content-four .hospital{color:#333;}
#cancer .content-four .reason{padding:13px 0px 5px 5px;background-color:#faed00;height:90px;width:265px;}
#cancer .content-four .expert{background-color:#fff;padding-top:5px;width:265px;}
#cancer .content-four .expert .hospital{padding-bottom:20px;}
#cancer .content-four .reason .title{color:red;line-height:1em;padding-right:3px;background-color:#faed00;font-size:15px;}
#cancer .content-four .reason .middle{border-left:1px solid #fff;height:90px;margin-top:-13px;}
#cancer .content-four .reason .content{line-height:20px;margin-left:25px;background-color:#faed00;}
.line-one{border-top:1px solid #d7427e;margin-top:46px;width:100%;}
#site-content{padding-bottom:0!important;}
