#site-content{padding-bottom:0!important;}
#robot .main-body{padding:50px 104px 100px;text-align:justify;}
#robot .main-body .title{background-color:#fff;color:#036eb8;font-size:30px;border-radius:4px;display:inline-block;height:46px;line-height:46px;letter-spacing:5px;}
#robot .main-body .white-block{background-color:#fff;width:40px;height:46px;color:#fff;display:inline-block;}
#robot .main-body .white-block-right{background-color:#fff;width:30px;height:46px;color:#fff;display:inline-block;}
#robot .main-body .title-line{border-top:1px solid #2896c3;margin-top:-23px;}
#robot .main-body .heading{font-size:28px;color:#036eb8;border-left:10px solid #036eb8;line-height:24px;padding-left:5px;margin-top:50px;margin-bottom:20px;padding-bottom:3px;}
#robot .main-body .content{text-indent:2em;}
.text15{font-size:15px;}
.text16{font-size:16px;}
.color-036eb7{color:#036eb8;}
.line-height1-8em{line-height:1.8em;}
/*蓝色色值：036eb8
正文字色值：333*/