.text15{font-size:15px;}
.ml5{margin-left:5px;}
.ml35{margin-left:35px;}
.mt70{margin-top:70px;}
.mt51{margin-top:51px;}
.text-indent2em{text-indent:2em;}
#prince .main-content{padding-left:105px;padding-right:105px;}
#prince .main-content .title{background-color:#2896c3;color:#fff;font-size:24px;border-radius:4px;display:inline-block;width:300px;height:46px;line-height:46px;letter-spacing:5px;}
#prince .main-content .white-block{background-color:#fff;width:40px;height:46px;color:#fff;display:inline-block;}
#prince .main-content .title-line{border-top:1px solid #2896c3;margin-top:-23px;}
#prince .main-content .number-tag{font-size:20px;text-align:center;line-height:25px;background-color:#2896c3;border-radius:25px;width:25px;height:25px;font-weight:bold;color:#fff;display:inline-block;}
#prince .main-content .blue-text{font-size:20px;color:#2896c3;line-height:2em;}
#prince .main-content .blue-text .tag{background-color:#fff000;color:#2896c3;font-size:20px;font-weight:bold;}
#prince .main-content .blue-text .tag-blue{background-color:#fff000;color:#2896c3;width:170px;display:inline-block;font-weight:bold;}
#prince .main-content .process-text{color:#777;line-height:2em;}
#prince .main-content .process-text .big{font-weight:bold;font-size:20px;}
.contracted-img{margin-top:-90px;margin-right:-19px;width: 48px;height: 52px;background-image: url(../images/doctor/signDoctor.png);background-repeat: no-repeat;}
.roboticon-img{margin-top:-28px;margin-right:-19px;width: 48px;height: 52px;background-image: url(../images/doctor/robot.png);background-repeat: no-repeat;}
.expert-list{padding:0px 10px 10px 10px;}
.hpDeptName{color: #f39700;}
.docdesc{height: 9em;overflow-y: hidden;}