#site-content{padding-bottom: 0!important;}
#maincontent{max-width:990px;color: #3d332f;}
.main-body{line-height: 1.8em;}
.bg-body-lu{background-color:#e3e5e5;}
.text16{font-size: 16px;}
.color-blue{color: #1d1d75;}
.main-border{border:1px solid #9f9fa0;border-bottom: 0;padding:30px 30px 60px;border-top: 0;}
.main-body{margin:0px auto;}
.header-lu{background:url('../images/event/lujinsong/lujinsong.jpg') no-repeat;padding-left:150px;background-position-y: 6px;}
.divider-white{border-bottom: 1px solid #fff;}
.divider-yellow{border-bottom: 1px solid #f7b52c;}
.color-yellow{color:#f7b52c;}
.color-white{color: #fff;}
.answer{margin-left:60px;background-color:#f7f5b0;border-radius:4px;padding:10px 10px 20px 10px;color:#231815;}
.position-a{position:absolute;}
.angle{width: 0;height: 0;border-top: 22px solid #f7f5b0;border-left: 29px solid transparent;position: absolute;margin-top: 12px;}