#site-content{padding-bottom: 0!important;}
#body .container {max-width: 990px;}
.guan-header{background-image:url(../images/event/guanxinbing/guanxinbing.png);background-repeat:no-repeat;}
.container-body{border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;}
#doctor-img-left{width:100%;height:228px;background:url(../images/event/guanxinbing/bg-doctor.png) no-repeat;}
#doctor-img-left .title{color:#de7079;line-height: 1em;border-left: 10px solid #de7079;font-size: 24px;padding-left: 10px;font-weight: bold;margin-left:160px;margin-top:20px;}
#doctor-img-left .text{font-size:14px;line-height:2.5em;text-indent:2em;margin-left:160px;color:#595757}
.title-xs{font-size:14px;font-weight: bold;margin-top: 20px;line-height:2.5em;}
.main-text{font-size:14px;line-height:2.5em;text-indent:2em;color:#595757}
.main-text>img{margin-left:-50px;}
.doc-header{color:#de7079;font-size: 24px;font-weight: bold;border-left: 10px solid #de7079;line-height: 1.2em;padding-left: 10px;}
.doc-list .doc-content{border: 1px solid #de7079;padding: 20px;font-size: 14px;line-height: 2.5em;letter-spacing: 3px;margin-top: 20px;}
.doc-list .doc-content:hover{box-shadow: 0px 0px 1px 1px #de7079;}
.doc-list .doc-content .doc-title{font-size: 14px;color: #9fa0a0;}
.doc-list .doc-content .doc-desc{padding-left: 55px;}
.doc-list .doc-content .long{color: #f86106;position: absolute;margin-left: -53px;}
