#site-content{padding-bottom:90px!important;}
#winegirl .main-content{padding:0 105px;text-align:justify;}
#winegirl .main-content .big-title{background-color:#fff;color:#d77636;font-size:24px;display:inline-block;letter-spacing:5px;padding-left:5px;}
#winegirl .main-content .little-title{font-size:21px;}
/*#winegirl .main-content .white-block{background-color:#fff;width:3px;height:46px;color:#fff;display:inline-block;}*/
#winegirl .main-content .title-line{border-top:1px solid #d77636;margin-top:-18px;}
#winegirl .main-content .line-title{border-left:5px solid #d77636;padding-left:5px;font-size:21px;line-height:1em;margin-top:50px;margin-bottom:5px;}
#winegirl .main-content .img-undertext{margin:10px 0 10px 29px;}
@media (max-width: 1199px){#winegirl .main-content .img-undertext{margin:10px 0!important;}}
@media (max-width: 991px){.text-right{text-align:left!important;}}
#winegirl .main-content .contracted-img{margin-top:-90px;margin-right:-19px;width: 48px;height: 52px;background-image: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146172568531110');background-repeat: no-repeat;}
#winegirl .main-content .roboticon-img{margin-top:-28px;margin-right:-19px;width: 48px;height: 52px;background-image: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/14624278056950');background-repeat: no-repeat;}
#winegirl .main-content .expert-list{padding:0px 10px 10px 10px;}
#winegirl .main-content .expert-list:hover{background-color:#f7f7f7;box-shadow:2px 2px 5px #9f9e9e;}
#winegirl .main-content .hpDeptName{color: #f39700;}
#winegirl .main-content .docdesc{height: 9em;overflow-y: hidden;}
.text-gray7{color:#777;}