#site-content{padding-bottom: 0!important;}
.bg-gray-f7{background-color:#f7f7f7;}
.h400{height:400px;}
.summary-one{background-color:#80CAD3;height:400px;}
.long-line{border-left:1px solid #fff;height:250px;}
.white-point{margin-left:-2px;border-radius:50%;background-color:#fff;width:5px;height:5px;}
.short-line{border-left:1px solid #fff;height:150px;margin-left:21px;}
.summary-text{line-height:2.5em;margin-left:-60px;margin-top:130px;}
.mingyi-title{font-size:22px;color:#82C1CA;font-weight:bold;}
.mt105{margin-top:105px;}
.summary-two{background-color:#89B675;height:400px;}
.summary-two-img{margin-top:80px;;margin-left:-60px}
.summary-two-text{line-height:2.5em;margin-left:-105px;margin-top:110px;}
.summary-two-title{font-size:22px;font-weight:bold;}
.second-long-line{border-right:1px solid #fff;height:255px;margin-left:22px;}
.second-short-line{border-right:1px solid #fff;height:150px;margin-right:21px;}
.two-white-point{margin-right:-2px;border-radius:50%;background-color:#fff;width:5px;height:5px;}
.two-white-point2{margin-right:19px;border-radius:50%;background-color:#fff;width:5px;height:5px;}
.summary-three{background-color:#59B8B4;height:400px;background-image:url(../images/aboutus/xinDianTu-01.png);background-repeat:no-repeat}
.summary-three-text{margin-left:-15px;margin-top:250px;color:#fff;letter-spacing:2px;}
.summary-three-img{margin-top:25px;margin-left:-5px;}
.mt150{margin-top:150px;}
.ml-45{margin-left:-45px;}
.color-yellow{color:#FEF102}
.aboutus-btn{border-top-left-radius:20px;border-top-right-radius:20px;line-height:70px;background-color:#fff;height:70px;font-size:22px;}
.w20{width:20%;}
.mt-70{margin-top:-70px;}
.ml19{margin-left:19px;}
.bg-white{background-color:#fff;}
.color-white{color:#fff;}