/**** 轮播图 ****/
.bxslider{padding-left: 0;}
.block-center{margin: 0 auto;display: block;}
.bx-wrapper{margin-bottom: 0!important;}
.bx-controls{width: 100%;}
.bx-next{display: block;}
.bx-prev:hover,.bx-next:hover{opacity: 0.7;}
.bx-pager{bottom: 10px!important;width:100%!important;text-align: center!important;}
.bx-controls-auto{display: none;}
#homeads .bx-controls-direction{display: none;z-index: 1!important;}
.bx-wrapper .bx-controls-direction a{display: block;text-indent: -9999px;font-size:0;line-height:0;}
#homeads{background: url(../images/loading/loading02.gif) no-repeat center center;}
.bg-lunbo{background-image:url('../images/home/bg_header.jpg');background-position: center;}
.home-header{height:600px;}
.home-slogn{margin-top:106px;}
.slogan-lg{font-size:58px;letter-spacing: 8px;padding-left: 8px;}
.slogan-sm{font-size:36px;letter-spacing: 6px;padding-left: 6px;}
#header_home{position: fixed;height: 438px;z-index: 9999;width: 100%;}
#close-header{margin-right: 20px;margin-top: -30px;color: #fff;opacity: 1;}
#close-header img:hover{opacity: .8;cursor: pointer;}
.bg-home-top{background-color:#5ec1b9;padding:50px 0;}
.search-top{margin-top:-17px;font-size:14px;height:35px;width:100px;background-color:#fff;color:#19aea5;line-height:35px;text-align:center;}
.search-top:hover{cursor: pointer;}
.search-top.active{background-color:#19aea5;color:#fff;}
.searchform{display: none;}
#searchhospital-btn{display: none;}
.learn-more{color:yellow;text-decoration:underline;}
.btn-home,.btn-home:visited{font-size:24px;background-color:#5ebfb7;color:#fefefe!important;border-radius: 6px;}
.btn-home:hover{background-color:rgba(94,191,184,0.7);}
.home-search{background-color:rgba(34, 24, 20,0.7);height:100px;margin-top:-100px;}
.home-search .container{position: relative;z-index: 99;}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{border-bottom:3px solid #3973ac;background-color:#efefef;border-top:none;border-left:none;color:#19aea5;font-size:22px;}
.nav-tabs>li>a,.nav-tabs>li>a:hover{color:#19aea5;font-size:22px;border-right:1px solid #ddd;background-color: #efefef;}
.nav-tabs>li.last>a,.nav-tabs>li.last>a:hover,.nav-tabs>li.last>a:focus{color:#19aea5;font-size:22px;border-right:0;background-color: #efefef;}
.nav-tabs>li:hover,.nav-tabs>li:focus,.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{border-bottom:none;}
.nav-tabs>.neike1>a,.nav-tabs>.neike1.active>a{border-right:none!important;}
.expert .nav-tabs>li>a,.expert .nav-tabs>li>a:hover{background-color: #efefef;}
.expert .nav-tabs>li{width: 16.66666667%;}
.expert .nav-tabs>li>a{margin-right: 0;}
.expert .expName{font-size: 16px;}
.contracted-img {position: absolute;margin-top: 40px;right: 7px;width: 48px;height: 52px;background-image: url(../images/doctor/signDoctor.png);background-repeat: no-repeat;}
.title{background:url(../images/home/home_wire.png) no-repeat;background-position:center 40px;margin-top:40px;}
.title .title-lg{font-size:45px;color:#3973ac;letter-spacing:8px;}
.title .title-sm{letter-spacing:10px;color:#3973ac;margin-top:-4px;}
#propaganda{background-image:url('../images/homeslider/bg-rectalcancer.jpg');background-position:center;height:400px;width:100%;}
.waike:hover{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:0px -180px;}
.guke:hover{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:-335px -180px;}
.fuchanke:hover{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:-670px -180px;}
.xiaoerwaike:hover{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:-1005px -180px;}
.wuguanke:hover{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:-1340px -180px;}
.neike:hover{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:-1675px -180px;}
.waike{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:0px 0px;}
.guke{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:-335px 0px;}
.fuchanke{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:-670px 0px;}
.xiaoerwaike{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:-1005px 0px;}
.wuguanke{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:-1340px 0px;}
.neike{width:335px;height:180px;background-image:url(../images/icons/keshi_icon.png);background-position:-1675px 0px;}
.recommend-area{width:100px;height:100px;background-color:#efefef;display: table-cell;vertical-align: middle;padding: 0 5px;overflow: hidden;}
.color-blue{color:#3973ac;}
.expInfo:hover{box-shadow: 1px 1px 3px 3px #ddd;}
.expInfo:hover.explist-border{border-color: #19aea5;}
.explist-border{border:3px solid #87ccc5;}
.login{color:#595757;}
.input-area{width:100%!important;padding:20px 45px 20px 160px;font-size:20px;letter-spacing: 2px;height:60px;}
.change{color:#3973ac;cursor:pointer;}
.change:hover{text-decoration: underline;}
.carousel-indicators{margin-bottom:-50px;}
.carousel-indicators>li.active{background-color:#9f9fa0;}
.carousel-indicators>li{background-color:#dcdcdd;}
.expTitle{color:#333;}
.expHospital{color:#333;}
.h300{height:300px;}
.h180{height:180px;}
.text16{font-size:16px;}
.text13{font-size:13px;}
.home-title{background-color:rgba(255,255,255,0.5);width:650px;margin: 0 auto;padding-bottom: 7px;}
.select-label{height:60px;width:335px!important;padding:0px 45px;font-size:24px;height:60px;}
.search-size{height:60px;width:100%;font-size:24px;border-bottom-left-radius: 0!important;border-top-left-radius: 0!important;}
.search-citys{position: relative;}
.citylist{display: none;position: absolute;width: 100%;font-size: 16px;line-height: 1.5em;background-color: #fff;box-shadow: 0px 0px 1px 1px #e4e4e4;z-index: 9999;padding: 0 15px 15px;margin-top: -17px;}
.citylist span{display: inline-block;padding-right: 10px;padding-top: 10px;}
.w83{width:83%;}
.w17{width:17%;}
.mt18{margin-top:18px;}
.nav-tabs>li>a,.nav-tabs>li>a:hover{cursor: pointer!important;}
.more-expert{margin-right: 2px;}
.more-expert:hover{margin-right: 0px;text-decoration: underline;}
.item .slider-text{text-align:center;font-size:12px;color:#686868;}
#home-search-form .btn-group .btn-yes:active{border-top-left-radius:0!important;border-bottom-left-radius:0!important;}
/**** 专题色值 ****/
.event-color{background-color: #faf0dd;color: #686868;}
/**** 搜索结果展示 ****/
.mt18{margin-top: 18px;}
.disease-name.form-control:focus{border: 1px solid #66afe9;border-bottom-color: #ddd;box-shadow: none!important;}
#home-search-form .w100{width: 100%;}
#home-search-form .disease-name{background-image: url(../images/home/search.png);background-repeat: no-repeat;background-position-y: center;background-position-x: 20px;}
#search-display{display: none;height: 258px;box-shadow: 7px 7px 20px 1px #6d6f70;overflow-y: auto;padding: 15px 40px;margin-left: 125px;background-color: #f7f7f7;}
#search-display{scrollbar-track-color:#fff;scrollbar-face-color:#19aea5;}
#search-display::-webkit-scrollbar{background-color: #fff;width: 6px;}
#search-display::-webkit-scrollbar-thumb{background-color: #87ccc5;}
.home-search .search-display-header{color: #555555;font-size: 18px;border-bottom: 1px solid #19aea5;}
.home-search .search-display-header .clearhistory{font-size: 15px;color: #9f9fa0;}
.home-search .search-display-header .clearhistory:hover{cursor: pointer;color: #555555;}
#seach-result{margin-top: 10px;font-size: 15px;line-height: 2.2em;color: #555555;}
#seach-result a{color: #555555;}
#seach-result .doctor:hover{color: #19aea5;}
#seach-result .detail{color: #036eb8}
#seach-result .detail:hover{text-decoration: underline;}
#seach-result .disease:hover{cursor: default;}
#seach-result .search-tip{color: #9f9fa0;line-height: 1.5em;}
#seach-result .name>span.active{color: #5ebfb8;}
#seach-result .keyword{color: #5ebfb8;}
.disease-name:-moz-placeholder {color: #9f9fa0;letter-spacing: 3px;}/* Mozilla Firefox 4 to 18 */
.disease-name::-moz-placeholder {color: #9f9fa0;letter-spacing: 3px;}/* Mozilla Firefox 19+ */
input.disease-name:-ms-input-placeholder{color: #9f9fa0;letter-spacing: 3px;}
input.disease-name::-webkit-input-placeholder {color: #9f9fa0;letter-spacing:3px;}