#site-content{padding-bottom: 0!important;}
.bg-gray-f7{background-color:#f7f7f7;}
.divide-dashed-yellow{border-bottom:1px dashed #eeca23;}
.header-img{float:right;}
.php-high-level{background-color:#F7F3E8;padding:10px 35px;min-height:670px;}
.other-level{background-color:#F7F3E8;padding:10px 35px 50px;min-height:670px;}
.office-divide{border-top:15px solid #60c0b7;}
.job-centent{line-height:2.5em;}
.count-img{margin-top:-30px;margin-right:-68px;}
.aboutus-btn{border-top-left-radius:20px;border-top-right-radius:20px;line-height:70px;background-color:#fff;height:70px;font-size:22px;}
.w20{width:20%;}
.mt-70{margin-top:-70px;}
.mt55{margin-top:55px;}
.mt60{margin-top:60px;}
.mb100{margin-bottom:100px;}
.h400{height:400px;}
.ml-15{margin-left:-15px;}
.mr15{margin-right:15px;}
.office-name{font-size:24px;color:#60c0b7;}