
/***** General *****/
body {color: #333;letter-spacing: 1px;line-height: 1.5;font-size: 14px;font-family: 'Microsoft YaHei', 微软雅黑, 'Microsoft Yahei', 黑体, 宋体, Arial, Simsun, Helvetica, sans-serif;}
@media (min-width: 1200px){.container {width: 1200px;}}
@media (max-width: 768px){}
#site-content{min-height: 550px;}
.nopadding{padding:0 !important;}
.pad5{padding:5px;}
.pad20{padding: 20px;}
.pt0{padding-top:0!important;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pb0{padding-bottom:0;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pl0{padding-left: 0!important;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}
.pl40{padding-left: 40px;}
.pl100{padding-left: 100px;}
.pr0{padding-right: 0;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}

.nomargin{margin:0 !important;}
.mr0{margin-left: 0;margin-right: 0}
.mt-4{margin-top: -4px;}
.mr-10{margin-right: -10px;}
.mt0{margin-top:0;}
.mt2{margin-top: 2px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
.mt150{margin-top: 150px;}
.mb0{margin-bottom:0;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb17{margin-bottom: 17px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.ml0{margin-left: 0!important;}
.ml10{margin-left:10px!important;}
.ml20{margin-left:20px!important;}

.color-black{color: #000!important;}
.color-white{color: #fff;}
.color-red{color: #f00;}
.border-bottom{border-bottom: 1px solid #e4e4e4;}
.text-indent2em{text-indent: 2em;}
/**** site-header ****/
.home-top{height:50px;line-height:50px;position: fixed;width: 100%;z-index: 9998;}
.boxShadow{box-shadow: 0px 0px 2px 2px #ddd;}
.home-top a:hover{color: #19aea5;cursor: pointer;}
#site-header{border-bottom:1px solid #ddd;}
#site-header .navbar{margin-bottom: 0;border:none;background-color:#fff;}
#site-header{border-bottom:1px solid #ddd;}
//#site-header .container{padding-top:20px;}
#site-header .bg-blue{background-color: #19aea5;}
#site-header .siteheader-menu{margin-top: 10px;}
#site-header .navbar{margin-bottom: 0;}
//#site-header #header-nav{margin-left: 40px!important;}
#site-header #header-nav{width: 80%;}
@media (min-width: 768px){#site-header #header-nav>li{width: 20%;}}
#site-header #header-nav>li{font-size:1.2em;}
#site-header #header-nav>li *{text-align:center;}
#site-header #header-nav>li>a{padding:10px 12px;color: #3e3a39;letter-spacing: 3px;font-size:20px;}
#site-header #header-nav>li>a:hover{color: #19aea5;}
#site-header #header-nav>li.open>a{background:none;}
#site-header .navbar-nav>.active>a{background-color: #fff;color: #19aea5!important;}
#site-header #header-nav>.dropdown>.dropdown-menu{border:none;background-color:#fff;width: 20%;}
#site-header .collapse.in #header-nav>.dropdown>.dropdown-menu{background-color:rgba(87, 87, 87, 0.85);}
#site-header #header-nav>.dropdown>.dropdown-menu>li>a{padding:6px 20px;}
#site-header #header-nav>.dropdown>.dropdown-menu>li:hover>a{color:#fff;background-color:#19aea5;}
#site-header ul.nav-top-right{padding:0px 0px 0px 15px;float:right;font-size:1.2em;}
#site-header ul.nav-top-right,#site-header ul.nav-top-right>li>a{color:#19aea5;}
#site-header ul.nav-top-right li a{padding:2px 15px;line-height:21px;}
#site-header ul.nav-top-right li .site-phone{display:inline-block; font-size:1.2em;}
#site-header ul.nav-top-right>li.user-control>a{border-left:1px solid #19aea5;}
#site-header ul.nav-top-right>li.user-control:last-child>a{border-left:none;padding-left:0;}
#site-header ul.nav-top-right>li.user-control>a:hover{text-decoration:underline;}
.site-phone{color: #19aea5;font-size: 18px!important;display:inline-block; height:1.2em;line-height:1.2em;padding-left:1.5em;font-size:1em;background:url(../images/icons/ic_phone.png) no-repeat 0 0px;padding-top: 3px;background-size:contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;}
.header-sologan li{padding: 0px 30px; margin-left: 45px;font-size: 12px;margin-top: -3px;background: url(../images/icons/icon_gold.png) no-repeat 10px 2px;}
#appdownload{padding: 12px 0;}
#appdownload:hover{cursor: pointer;color: #19aea5;}
#qrcode{opacity: 1;right: 26px;margin-top: -5px;display: none;}
#qrcode .tooltip-inner{padding: 15px 10px 10px;color: #fff;background-color: #84cbc8;}
#qrcode .tooltip-arrow{border-bottom-color: #84cbc8;}
#qrcode .tooltip-inner a{color: #fff;}
.relative{position: relative;}
//.phone{margin-top: -5px;}
//@media (min-width: 992px){#site-header #header-nav>li,#site-header #header-nav>.dropdown>.dropdown-menu{min-width: 150px;}}
/**** quickBooking ****/
.mybooking {background-color: #19aea5;height: 120px;line-height: 100px;padding: 1em 1em 0;}
.mybooking-text {font-size: 18px;letter-spacing: 0.5em;}
.booking-form{padding-bottom: 50px;}
/**** loginModal ****/
/**** login ****/
#loginModal .login-form .title{color:#3bb8b6;font-size:26px;}
#loginModal .login-form .login-change .phone-login{background:url(../images/user/gray-dot.png) no-repeat 0 center;padding-left:15px;cursor:pointer;}
#loginModal .login-form .login-change .phone-login.active{background:url(../images/user/green-dot.png) no-repeat 0 center;padding-left:15px;cursor:pointer;}
#loginModal .login-form .login-change .account-login{background:url(../images/user/gray-dot.png) no-repeat 0 center;padding-left:15px;margin-left:50px;cursor:pointer;}
#loginModal .login-form .login-change .account-login.active{background:url(../images/user/green-dot.png) no-repeat 0 center;padding-left:15px;margin-left:50px;cursor:pointer;}
#loginModal .login-form .agreement{color:#e50011;}
#loginModal .login-form #account-login-form{display:none;}
#login-form{display: none;}
#login-verifycode-form .btn-yes{margin-top: 16px;}
#loginModal .modal-dialog>.modal-content{min-height: 510px;}
#loginModal .modal-dialog>.modal-content>.modal-body{padding-right:45px;padding-left:45px;}
#loginModal .modal-dialog>.modal-content>.modal-body .hidden-xs{margin-top:80px;}
#loginModal .modal-dialog>.modal-content>.modal-body .close{background:url(../images/user/cancel.png) no-repeat 0 center;background-size: 100%;width:21px;height:21px;display: inline-block;margin-right: -1.3em;}
#loginModal .modal-dialog>.modal-content>.modal-body .close:hover{background:url(../images/user/cancel-green.png) no-repeat 0 center;background-size: 100%;width:21px;height:21px;display: inline-block;}
@media (min-width: 768px){#loginModal .modal-dialog,#registerModal .modal-dialog {width: 850px;margin: 100px auto 30px;}}
#qucikbookingModal .close{background:url(../images/home/close.png) no-repeat 0 center;background-size: 100%;width:21px;height:21px;display: inline-block;}
/**** site-content ****/
.modal-open .modal{margin-top: 50px;}
form label a:hover{text-decoration: underline!important;}
form .contrller{margin-bottom: 15px;}
.text-right{text-align: right;}
.form-group a:hover{color: #3bb8b6;}
input[type='text']:-webkit-autofill,input[type='password']:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset;border: 1px solid #CCC!important;}
a:hover{cursor: pointer;}
.label-booking {margin-top: 7px;}
.nav-pills>li>a{color: #686868;}
.text17{font-size: 17px;}
.text15{font-size: 15px;}
.text12{font-size: 12px;}
.line-height2-5em{line-height: 2.4em;}
.passage {line-height: 2;}
.border-gray{border: 1px solid #e4e4e4;}
.border-green {border: 1px solid #19aea5;}
.divider{border-bottom: 1px solid #888;}
.divide-line-black{border-bottom:1px solid #717071;}
.divide-line-gray {border-top: 1px solid #686868;}
.color-gray{color: #686868;}
#site-content{padding-bottom: 50px;}
#site-content .container-title{font-size: 32px;margin-top: 20px;margin-bottom: 10px;}
a,a:hover{text-decoration: none;}
.bg-gray{background-color:#efefef;}
.border-green{border:1px solid #19aea5;}
.border-bottom{border-bottom: 1px solid #e4e4e4;}
.bg-green{background-color:#19aea5;}
.bg-white{background-color:#fff;}
.no-border{border:none!important;}
ul,ol{list-style: none;}
.color-green {color: #19aea5;}
table.table tr.noborder>td {border: none;}
.form-result-success {display: none;}
.errorMessage{display: none;color: #f00;}
.error{color: #f00;}
.strong{font-weight: bold;}
img{max-width:100%;}
.panel-body a:hover{text-decoration: underline;}
form a:hover{text-decoration: none!important;}
form span.required {color: #E21E1A;}
.panel-body{padding:50px;}
.booking .booking-form {padding-right: 5px;padding-left: 5px;}
.img100{display: block;margin: 20px auto 10px;width: 100px;height: 100px;border: 1px solid hsl(0, 0%, 87%);border-radius: 50%;overflow: hidden;}
.block-center{display: block;margin: 0 auto;}
/**** loading ****/
.loading {position: absolute;left: 45%;top:40%;z-index: 999;display: none;margin: 0 auto;width: 48px;height: 48px;background-image: url("../images/loading/loading03.gif");background-repeat: no-repeat;background-position: center;background-size: contain;}
.loading.loading02 {width: 48px;height: 48px;background-image: url("../images/loading/loading02.gif");}
/**** btn ****/
.btn:focus{outline: none;}
.btn-verifycode {color: #fff;background-color: #EFA429;border-color: #eea236;}
.btn-verifycode:hover {color: #fff;background-color: #ec971f;border-color: #d58512;}
.btn-yes,.btn-yes:active,.btn-yes:visited{color: #fff!important;background-color: #3bb8b6;border-radius: 5px!important;border: 0;}
.btn-yes:hover{color: #fff;background-color: #19aea5;border: 0;}
.btn-disabled,.btn-disabled:hover{background-color: #ddd;border-radius: 5px!important;padding: 5px 20px;letter-spacing: 2px;color: #333;}
.abs-btn {display: block;margin: 10px;padding: 3px 20px;font-size: 15px;border-radius: 5px;}
.btn-booking {background-color: #EFA429;border: 1px solid #EFA429;border-radius: 5px!important;padding: 5px 20px;letter-spacing: 2px;color: #fff;}
.btn-booking:hover, .btn-booking:focus, .btn-booking:active {color: #fff;background-color: #ec971f;border: 1px solid #EFA429;}
.block {display: block;}
/**** Side Menu ****/
#sidemenu{border-right: 1px solid #e4e4e4;}
#sidemenu .nav>li>a{text-align: center;padding: 1em;border-left: 1px solid #e4e4e4;}
#sidemenu .nav>li>a:hover{color:#000;background-color:#e0f1f2;}
#sidemenu .nav>li.active>a, .nav>li.active>a:hover, .nav>li.active>a:focus{color:#000;background-color:#e0f1f2;}
#sidemenu.pos-fixed{max-width: 180px;background-color:#fff;z-index:9;}
.pos-fixed {position: fixed;}
.heading-u{margin:30px 0;}
.heading-u>.text{display:inline-block;padding-right:15px;padding-bottom:4px;margin-bottom:-1px;border-bottom:3px solid #68A339;font-size:24px;}
.heading-u>.divider{border-bottom:1px solid #ddd;}
#sidemenu ul>li{margin-top:0;border-bottom:1px solid #ddd;}
#sidemenu ul>li>a{font-size:18px;border-radius:0;color:#666;}
#sidemenu ul>li.active>a, #sidemenu ul>li>a:hover{color:#fff;}

.panel-body>ol{list-style: decimal;}
/**** page ****/
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {z-index: 2;color: #fff;cursor: default;background-color: #19aea5;border-color: #19aea5;}
.pagination>li>a, .pagination>li>span{color: #19aea5;}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{color: #19aea5;}
/**** aboutus ****/
.aboutus-header{background-color:#33cccc;text-align:center;}
.aboutus-header img{display: block;margin: 0 auto;}
/**** site-footer ****/
.totop{position: fixed;bottom: 10%;right: 10px;width: 50px;height: 50px;background: url(../images/icons/totop.png);display: none;}
.totop:hover{cursor: pointer;background-position:50px 0;}
.pl0{padding-left: 0;}
#site-footer{font-size: 12px;padding-top:20px;background-color: #eeefef;}
#site-footer .w25{width: 25%;float: left;height: 100%;min-height: 181px;}
@media screen and (max-width: 995px){#site-footer .w25{width: 50%;}#site-footer .logo-footer img{float: none!important;}}
#site-footer .w25 h4{margin-top: 0!important;font-size: 16px;}
#site-footer .w25.border0{border-right-color: #eeefef;}
#site-footer .footer-last{font-size: 12px;padding: 11px;background-color: #dcdcdd;}
#site-footer .partner{padding: 0 30px;}
#site-footer .partner .pl5{padding-left: 5px;}
#site-footer .partner .pr5{padding-right: 5px;}
#site-footer .corporationInfo .text-info{display: inline-block;}
#site-footer .hospital{padding-left: 25px;line-height: 2em;}
#site-footer .contactus{line-height: 2em;}
#site-footer .show_header_main .contactus{padding-left: 47px;line-height: 2em;}
#site-footer .hospital ul,#site-footer .contactus ul{padding-left: 0px;}
#site-footer .corporationInfo{padding-left: 70px;}
#site-footer .logo-footer img{margin: 50px auto 0;display: block;}
.mt35{margin-top: 35px;}
/**** site-footer-old ****/
/*#site-footer .br1{border-right:  1px solid #000;}
#site-footer{padding-top:20px;background-color: #eeefef;}
#site-footer .wx-qrcode{background-image: url(../images/icons/ic_wx.jpg);}
#site-footer .footer-logo{margin: 10px auto;background-size: 100%;margin-top: 0!important;}
#site-footer .content .abs-btm>.navigator span{padding:0 10px}
#site-footer .content a:hover{color: #f56734;}
#site-footer .content .qr-code{margin: 10px auto;width: 100px;height: 100px;}
#site-footer .content>.footer-last{text-align:center;}
#site-footer .content>.footer-last>span{margin-right:10px;}
#site-footer .cctv{width: 170px;height: 80px;margin: 40px auto 0;}*/


