/**** create2 ****/
.fileupload .file-holder{
    display: block;
    width:108px;
    height:185px;
    padding:4px;
    position:relative;
    float: left;
}
.fileupload .file-holder .thumbnail{margin:0;}
.fileupload  .file-holder .thumbnail>img{width:90px;height:127px;}
.fileupload .file-holder .btn-holder{padding:4px 15px;}
.fileupload .file-holder .btn{padding:6px 10px;}
.fileupload .file-holder .preview{width:100px;height:96px;}
.fileupload .file-holder .progress{margin:0;height:20px;}
.fileupload .file-holder .size{margin:0;}

/**** View ****/
#nav-report>li>a{font-size:1.2em;}
#nav-report>li.active>a,#nav-report>li.active>a:hover,#nav-report>li.active>a:focus{background-color:#68A339 !important;}
