#site-content{padding-bottom: 0!important;}
.bg-gray-f7{background-color:#f7f7f7;}
.mt55{margin-top:55px;}
.mt68{margin-top:68px;}
.mt105{margin-top:105px;}
.mt29{margin-top:29px;}
.mt90{margin-top:90px;}
.mt94{margin-top:94px;}
.mt160{margin-top:160px;}
.mt-70{margin-top:-70px;}
.mr-5{margin-right:-5px;}
.mt-35{margin-top:-35px;}
.ml-50{margin-left:-50px;}
.mb235{margin-bottom:235px;}
.ml-80{margin-left:-80px;}
.w20{width:20%;}
.mt160{margin-top:160px;}
.bevel{margin-right:-40px;margin-top:-15px;}
.app-download-area{border:1px solid #ddd;padding-top:25px;padding-bottom:25px;padding-left:205px;}
.app-download-area>img{width:120px;height:120px;}
.dashed-line{margin-top:80px;border:1px dashed #efca24;}
.mingyijun{padding-left:33px;font-size:16px;}
.news-yellow-line{border-top:1px solid #efca24;margin-left:-15px;}
.yihui{padding-left:35px;font-size:16px;}
.dashi{padding-top:38px;padding-left:40px;font-size:16px;}
.aboutus-btn{border-top-left-radius:20px;border-top-right-radius:20px;line-height:70px;background-color:#fff;height:70px;font-size:22px;}
.number-icon{padding-left:5px;padding-right:2px;background-color:#686868;}
.h400{height:400px;}
.color-white{color:#fff;}
.mingyizhuyi-content{line-height:34px;}
.x {
    width: 70px;
    height: 70px;
    position: relative;
    background-color:#f7f7f7;
}
.x:before {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: 70px solid #efca24;
    border-left: 70px solid transparent;
    content: "";
}

.x:after {
    position: absolute;
    left: 1px;
    right: 0;
    top: 1px;
    bottom: 0;
    border-bottom: 69px solid #f7f7f7;
    border-left: 69px solid transparent;
    content: "";
}