.ztc-header{background:url(../images/zhitongche/bg-shouShuZhiTongChe.jpg) no-repeat;height:400px;}
.ztc-title-lg{font-size:58px;letter-spacing:1em;font-weight:bold;}
.ztc-title-text{width:525px;}
.ztc-main-content{border:1px solid #19aea5;padding:30px 20px;min-height:800px;}
.ztc-content-img{border:1px solid #efefef;width:200px;height:175px;}
.content-title{font-size:16px;color:#333;font-weight:bold;}
.search-button{height:80px;border-radius:5px;font-size:16px;font-weight:bold;letter-spacing:3px;}
.line2-5em{line-height:2.5em;}
.ztc-answers-content{border:1px solid #19aea5;padding:30px 20px;min-height:1230px;}
.divide-dashed-green{border-bottom:1px dashed #19aea5;}
.answers-title{font-size:18px;color:#19aea5;font-weight:bold;}
.booking-header{background-color:#19aea5;height:140px;line-height:140px;}
.booking-title{font-size:18px;letter-spacing:0.5em;}
.booking-form{border:1px solid #19aea5;padding:10px 5px;}
.story-content{border:1px solid #19aea5;padding:33px 20px;}
.story-title{font-size:18px;color:#19aea5;font-weight:bold;border-right:3px solid #19aea5;padding-right:10px;}
.story-img{width:80px;height:80px;border-radius:5px;}
.story-content-title{font-weight:bold;font-size:16px;}
.message-content{border:1px solid #19aea5;padding:10px 20px;}
.message-title{font-size:22px;color:#19aea5;font-weight:bold;}
.appraise{padding-left:90px;line-height:1.2em;}
.pl90{padding-left:90px;}
.line-height2-5em{line-height:2.5em;}