/*.search-header{background-image: url(../images/hospital/bg-header.jpg);background-position: center;background-repeat: no-repeat;height: 400px;}
.search-header .header-content{color: #3e6090;font-size: 21px;letter-spacing: 6px;line-height: 1.5em;margin-top: 100px;margin-left: 50px;}
.search-header .header-explanation{color: #e50011;margin-top: 80px;margin-left: 50px;}*/
.department-name{border:1px solid #19aea5;height:70px;line-height:70px;font-size:16px;}
/*.department-list{padding:0 0 20px 15px;}*/
.department-list .department{padding-left: 10px;margin-top: 20px;display:none;}
.department-list .department.active{padding-left: 10px;margin-top: 20px;display:block;}
.department-list .department .dept-header:hover{cursor: pointer;}
.department-list .department .fa{color: #19aea5;}
.department-list .department .fa-caret-down{display: none;}
.department-list .department .dept-header{font-size: 15px;}
.department-list .department .dept-header .fa{font-size: 16px;margin-right: 3px;}
.department-list .department.active .fa-caret-down{display: inline-block;}
.department-list .department.active .fa-caret-right{display: none;}
.department-list .department ul{padding-left: 14px;display: none;}
.department-list .department.active ul{display: block;}
.department-list .department ul>li{margin-top: 10px;}
.department-list .department .fa{color: #19aea5;}
.department-list .department .fa-caret-down{display: none;}
.department-list .department.active .fa-caret-down{display: inline-block;}
.department-list .department.active .fa-caret-right{display: none;}
.department-list .department ul>li>a.active{color: #19aea5;}
.city-sick-title{border-left:5px solid #19aea5;padding-bottom: 3px;line-height:1em;}
.city-sick-title>span{margin-left:20px;}
.border-gray{border:1px solid #ddd;}
.waike{background:url('moren.png') no-repeat ;background-size:10px 20px;}
.color-gray{color:#9f9fa0;}
.expert-list{padding:0px 5px 10px 5px;}
.bg-green{background-color:#19aea5;}
.department-list{padding:0 0 20px 10px;min-height: 268px;}
.ad-area{height:140px;line-height:140px;}
.find-navi{color:#fff;font-size:16px;padding:10px 0px 5px 15px;}
.find-navi>a{color:#fff;font-size:16px;}
.dept:hover{cursor:pointer;}
.findexp-nav a{margin-left:30px;}
.findexp-nav a:hover{cursor: pointer;}
.modal-dialog{width:450px;}
#btnSubmit{width:100%;}
.label-booking{margin-top:7px;}
.mybooking{background-color:#19aea5;height:140px;line-height:140px;}
.mybooking-text{font-size:18px;letter-spacing:0.5em;}
.booking-form{border:1px solid #19aea5;padding:10px 5px;}
.mt25{margin-top:25px;}
.mb25{margin-bottom:25px;}
.find-header{background-image:url('../images/hospital/bg.jpg');background-repeat:no-repeat;background-size:100% 100%;}
.hospital-list img{width: 120px;height: 130px;}
.dese-operate{padding-right: 3px;color: #EFA429;}
.dese-operate:hover{cursor: pointer;}
.dese-last{display: none;}
.dese-operate .desc-retract{display: none;}
.city-list a.active{color: #19aea5;}
.hpName{color: #595757;}
.hpName:hover{color: #19aea5;}
.hospital-list .hospital-desc{line-height: 1.7em;color:#555;}
.ml-30{margin-left:-30px;}
.department-list{background-color:#f7f7f7;}
.department-list .department .dept-header .puwaike-small{width:20px;height:20px;background-image:url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146242743882616');background-position:0px 0px;display:inline-block;margin-bottom:-5px;margin-right:5px;}
.department-list .department .dept-header .guke-small{width:20px;height:20px;background-image:url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146242743882616');background-position:100px 0px;display:inline-block;margin-bottom:-4px;margin-right:5px;}
.department-list .department .dept-header .fuchanke-small{width:20px;height:20px;background-image:url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146242743882616');background-position:80px 0px;display:inline-block;margin-bottom:-5px;margin-right:5px;}
.department-list .department .dept-header .xiaoerke-small{width:20px;height:20px;background-image:url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146242743882616');background-position:60px 0px;display:inline-block;margin-bottom:-5px;margin-right:5px;}
.department-list .department .dept-header .wuguanke-small{width:20px;height:20px;background-image:url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146242743882616');background-position:40px 0px;display:inline-block;margin-bottom:-5px;margin-right:5px;}
.department-list .department .dept-header .neike-small{width:20px;height:20px;background-image:url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146242743882616');background-position:20px 0px;display:inline-block;margin-bottom:-5px;margin-right:5px;}
.dept-menu .flowChart{background-color:#f7f7f7;padding:10px 10px;}
.dept-menu .flowChart .content .step{color:#666;font-weight:bold;}
.dept-menu .flowChart .title{font-size:18px;margin-bottom:3px;border-bottom:1px dashed #b5b5b5;}
.dept-menu .flowChart .content{}
.dept-menu .flowChart .content .tooltip-inner{color:#545454;background-color:#e5e6e6;border-radius:5px;text-align:justify;}
.dept-menu .flowChart .content .tooltip.top{margin-top:0px;}
.dept-menu .flowChart .content .tooltip.top .tooltip-arrow{border-top-color:#e5e6e6;margin-left:0px;}
.dept-menu .flowChart .content .mark{margin-top:-5px;background-color:#036eb8;display:inline-block;border-radius:16px;height:16px;width:16px;color:#fff;text-align:center;font-weight:bold;margin-left:5px;line-height:13px;font-size:12px;padding-left:5px;}
.dept-menu .flowChart .content .mark:hover{cursor:pointer;}
.dept-menu .flowChart .content .color-555{color:#555;}
.dept-menu .flowChart .content .tooltip.in{opacity:1;}
#hospital-list .city-cutover{background-color:#f7f7f7;height:45px;padding-top:7px;}
#hospital-list .city-cutover .city-name{color:#5cb6af;font-size:21px;}
#hospital-list .city-cutover .cutover-btn{border:1px solid #333;padding:0px 5px 1px;border-radius:2px;display:inline-block;position:relative;cursor:pointer;margin-top:-5px;}
#hospital-list .city-cutover{padding-left:40px;}
.search-hospital-header,.search-hospital-header ul li a{background-color:#19aea5;color:#fff;font-size:16px;}
.search-hospital-header ul{-webkit-padding-start:0;}
.search-hospital-header ul li{display:inline-block;}
.search-hospital-header .crumbs-header{padding-top:10px;}
.color-036eb8{color:#036eb8;}
#hospital-list .open-city{display:none;background-color:#f7f7f7;width:300px;height:200px;border-radius:5px;padding:10px;box-shadow:1px 1px 5px #92908f;position:absolute;z-index:99;margin-left:185px;margin-top:-5px;}
#hospital-list .open-city .heading{color:#9f9fa0;border-bottom:1px solid #9f9fa0;}
#hospital-list .open-city .close-btn{cursor:pointer;}
#hospital-list .open-city .hot-city .city{border:1px solid #19aea5;color:#19aea5;border-radius:4px;padding:0px 3px 2px;}
#hospital-list .open-city .hot-city .city.active{border:1px solid #19aea5;color:#fff;border-radius:4px;padding:0px 3px 2px;background-color:#19aea5;}
#hospital-list .open-city .other-city .city.active{color:#19aea5;}
#hospital-list .open-city .close-btn{position:absolute;right:10px;top:0px;font-size:20px;}
.mt-5{margin-top:-5px;}
.ml15{margin-left:15px;}
/*城市切换的高度：45
背景色：f7f7f7
上海：5cb6af     字号：21
切换：555          字号：16
热门城市：9f9fa0      字号：14*/
