.img100{width: 100px;height: 100px;display: block;margin: 10px auto;border: 1px solid #e4e4e4;border-radius: 50%;}
.department-name{background-color: #19aea5;height:65px;line-height:65px;font-size:16px;color: #fff;}
.city-sick-title{border-left:5px solid #19aea5;padding-bottom: 3px;line-height:1.5em;padding-left: 5px;}
.city-sick-title a{margin-right:20px;display: inline-block;}
.city-sick-title a:hover{cursor: pointer;}
.disease-list{margin-top: 17px;}
.border-gray{border:1px solid #ddd;}
.color-gray{color:#9f9fa0;}
.expert-list{padding:0px 5px 10px 5px;}
.department-list{padding:0 15px 20px;}
.department-list .department{padding-left: 10px;margin-top: 20px;}
.department-list .department .dept-header{font-size: 15px;}
.department-list .department .dept-header .fa{font-size: 16px;margin-right: 3px;}
.department-list .department .dept-header:hover{cursor: pointer;}
.department-list .department .fa{color: #19aea5;}
.department-list .department .fa-caret-down{display: none;}
.department-list .department.active .fa-caret-down{display: inline-block;}
.department-list .department.active .fa-caret-right{display: none;}
.department-list .department ul{padding-left: 14px;display: none;}
.department-list .department.active ul{display: block;}
.department-list .department ul>li{margin-top: 3px;}
.department-list .department ul>li>a.active{color: #19aea5;}
.ad-area{height:140px;line-height:140px;}
.find-navi{color:#fff;font-size:16px;padding:10px 0px 5px 15px;}
.docdesc{height: 9em;overflow-y: hidden;}
.contracted-img{margin-top:-90px;margin-right:-13px;width: 48px;height: 52px;background-image: url(../images/doctor/signDoctor.png);background-repeat: no-repeat;}
.city-list a.active{color: #19aea5;}
.disease-list a.active{color: #19aea5;}