/* 字体改动 */

body{ font: 14px 'Microsoft Yahei', Arial, Helvetica, sans-serif; }
h1,h2,h3,h4,h5,h6{ font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif; }
#commentform input[type="submit"]:hover { font-family:'Microsoft Yahei', Arial, Helvetica, sans-serif; }
#commentform textarea { font: 14px 'Microsoft Yahei', Arial, Helvetica, "Trebuchet MS", sans-serif;}
p { font-size: 14px; line-height: 30px; }
.page-head h5 { font-style: normal; }
#slider-wrap .slide-nav li { line-height: 15px; }
.main-nav p { line-height: 20px; }
#slider-wrap .slide-nav li h4 { font-size: 16px; }
.detail blockquote p {font-style: normal;}
blockquote p {font-style: normal;}

a.qq {padding: 5px; border-bottom: solid 2px #F2F2F2;}
a.qq:link {color:#ff0000;text-decoration:none;}
a.qq:visited {color:#0000ff;text-decoration:none;}
a.qq:hover {text-decoration:underline;}

