html{min-width:320px;}
body,a,li{
    font-family:"华文细黑","STHeiti","微软雅黑","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",SimHei,sans-serif !important;
    color:#565A5C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p{line-height: 2;word-wrap: break-word;}
select{
    -webkit-appearance: none;
    background: white\0 !important;
}
dd{margin-left:0;margin-bottom:10px;}
.btn:hover, .btn:focus {
    color: #fff;
    text-decoration: none;
}
ul{list-style: none;}
a:hover{color:#333;text-decoration: underline;}
a.no-underline:hover{text-decoration: none !important;}
a.underline-on-hover:hover{text-decoration: underline !important;}
img{vertical-align: middle;}
sup.h4{top:-0.5em;}
sup.h5{top:-0.35em;}
.glyphicon{top:2px;margin-right: 0.5em;}
*, *:before, *:after, hr, hr:before, hr:after, input[type="search"], input[type="search"]:before, input[type="search"]:after{box-sizing: border-box;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{cursor: pointer;background: none;}
.break-word{word-break: break-all;}
.icon-caret-down:before, .select:before{content: "\f0d7";font-family: FontAwesome !important;}
.caret{margin-left:4px;margin-right:4px;}
/**** Fix firefox ****/
@-moz-document url-prefix() {
    /* remove custom arrow-down for select tag */
    .select:before{content:'';}
}
/**** Fix for bootstrap ****/
.collapsing {
   -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;

}
.no-transition{
    -webkit-transition: height 0.001s;
    -moz-transition: height 0.001s;
    -ms-transition: height 0.001s;
    -o-transition: height 0.001s;
    transition: height 0.001s;

}
.alert-dismissable .close, .alert-dismissible .close{top:0;right:0;}



.panel-header{background-color: #EDEFED;}
.page-container-full{position: relative;width:100%;padding:0;margin:0;}
.page-container{position: relative;max-width:1020px;margin-left: auto;margin-right: auto;padding:0;}
.page-container-lg{position: relative;max-width: 960px;margin-left:auto;margin-right:auto;}
.page-container-sm{position: relative;max-width:760px; margin-left:auto;margin-right:auto;}
.container-sm{max-width: 510px;margin: 0 auto;padding: 15px 15px;;}
#content, #content .page-content-inner{min-height: 600px;}
.gs-bg1{background: url(../images/gs-bg1.jpg) no-repeat 0 0; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.page-heading{border-bottom: 2px solid #66CDCC;}
.row-space{padding: 0;margin-bottom:30px;}
.row-space .cell{padding:0 15px;}
.strong{font-weight: bold;}
.text-contrast{color:#fff;}
.left{float:left;}
.right{float:right;}
.mt-sm-10{margin-top:10px;margin-bottom:10px;}
.mt-sm-20{margin-top:20px;margin-bottom:20px;}
.mt-sm-30{margin-top:30px; margin-bottom:30px;}
.mt-sm-50{margin-top:50px;margin-bottom:50px;}
.mt-sm-80{margin-top:80px;margin-bottom: 80px;}
.mt-4{margin-top:4px;}
.mb-4{margin-bottom:4px;}
.mb-6{margin-bottom:6px;}
.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom: 30px;}
.pt20{padding-top:20px;padding-bottom:20px;}
.fix-float{float:none !important;}
.fix-margin-top{margin-top:0 !important;}
.fix-margin-bottom{margin-bottom:0 !important;}
.fix-margin-left{margin-left:0 !important;}
.fix-margin-right{margin-right:0 !important;}
.fix-margin{margin:0 !important;}
.fix-padding{padding:0 !important;}
.fix-padding-right{padding-right: 0 !important;}
.mt-10{margin-top:10px;}
.mt-12{margin-top: 12px;}
.mt-20{margin-top:20px;}
.box{border: 1px solid #E6E6E6;}
.border-bottom{border-bottom: 1px solid #E1E5E8;}
.overlay{display: none;}
.panel{border: 1px solid #DCE0E0;border-radius: 0;}
/*.panel-header{position: relative;padding:14px 20px; margin:0;border-bottom: 1px solid #DCE0E0;font-size:1.15em;}*/
.panel-header{position: relative;padding:10px; margin:0;border-bottom: 1px solid #DCE0E0;font-size:1.15em;}
.panel-header:first-child{border-top:0;}
.panel-body>*:last-child{margin-bottom:0;}
.darken-on-hover:hover{background-color:#eee;}
.no-bg-on-hover:hover{background:none !important;}
.overlay-on-hover{position:relative;}
.overlay-on-hover:hover .overlay {
    display:block;
    height:100%;
    width: 100%;
    position:absolute;
    top:0px;
    background-color:#000;
    color:#fff;
    opacity:0.7;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.shadow-on-hover:hover{-moz-box-shadow:  0 0 10px #aaa;-webkit-box-shadow: 0 0 10px #aaa;box-shadow: 0 0 10px #aaa;}
.text-overflow{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.media-round{border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
/*.color-yes{color:#6CC;}*/
.color-yes{color:#F63;}
.color-no{color:#E6430C;}
.color-red{color:red !important;}
.glyphicon-remove{top:2px;}

/**** Color ****/

.fcolor {color:#FF6633;}
.fcolor:hover{color:#FF6633;}
.guide-color {color:#66CCCC;}
/*
.white{
    color:#FFF;
    font-size:8px;
    padding-left:10px;
}
*/
.red {
    color:#f00;
}
.girl {
    color:#EF66B2;
}
.light{color:#B4B4B4;}
.dark{color:#333;}
.dark-1{color:#555;}
.dark-2{color:#444;}
.color-gs{color:#66CCCC;}
.color-gs:hover{color:#66CCCC;}
.color-gs-1{color:#66CDCC;}
.color-gs-1:hover{color:#66CDCC;}
.color-white{color:#fff !important;}
.color-blue{color:#00C0C0;}
.color-blue:hover{color:#00C0C0;}
.color-orange{color:#FF6633;}
.color-orange:hover{color:#FF6633;}
.bg-grey{background-color: #f5f5f5;}
.bg-white{background-color:#fff !important;}
.color-reverse{color:#FFF;}
.color-reverse:hover{color:#FFF;}

/**** Twitter Typeahead ****/
.tt-query {

    width: 300px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;

}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999
}
.tt-dropdown-menu {
    width: 300px;
    max-height: 230px;
    margin-top: 12px;
    padding: 8px 0;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
    cursor:pointer;
}

.tt-suggestion p {
    margin: 0;
}

/**** Rating Stars ****/

.ratings .star {
    position: relative;
    font-size: 1.5em;
    color: #999; }
.ratings .star.full:before {
    color: gold;
    content: '\2605';
    position: absolute;
    left: 0;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7); }
.ratings .star.half:before {
    color: gold;
    content: '\2605';
    position: absolute;
    left: 0;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    width: 50%;
    overflow: hidden; }

/**** Form ****/
.input-large{
    /* font-size: 16px;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="tel"], textarea, select, input[type="radio"], input[type="checkbox"], .input-prefix, .input-suffix{
    border: 1px solid #DCE0E0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #FFF;
    color: #565A5C;
}
textarea{width:100%;}
form .form-sub-heading{
    border-bottom: 1px solid #E1E5E8;
}
.checkbox-groups>label{margin-right:20px;}
/**** Searh Form ****/
#searchbar{/*z-index: 1000*/; min-width:507px;width:100%;}
#searchbar .control-wrapper{
    display:inline-block;
    width: auto;
    padding:12px 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*background-color: rgba(0, 0, 0, 0.4);*/
}
#search-form input, #category,#search-btn{height:44px;}
#search-form .location-wrapper{position: relative;display: inline-block;vertical-align: bottom;}
#search-form #locationInput{xwidth:350px;border-top-right-radius: 0;border-bottom-right-radius: 0;}
#search-form #category{border-radius:0;-moz-border-radius: 0; -webkit-border-radius: 0;}
#search-form #search-btn{
    position: relative;
    left:-8px;
    padding:6px 26px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    vertical-align: baseline;
}
.select{
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}
.select:before{
    position: absolute;
    pointer-events: none;
    color: #82888A;
    font-size: 1em;
    top: 0;
    bottom: 1px;
    padding-top: 0.7em;
    right: 0;
    width: 2em;
    text-align: center;
    font-family: Airglyphs, sans-serif;
    /*line-height: 1;*/
}
.select select{padding-right: 2em;}
.select-large{
    font-size: 1.1em;
}
.select-large select{
    padding-left:10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/**** Modal ****/
#messageBox .modal-header .close{
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 2.5em;
}

/**** Badge ****/
.badge {
    padding:2px 5px;
}
.badge-msg {
    position:absolute;
    padding:2px 5px;
    background-color: #f63;
}
.btn .badge-msg{position:absolute;top:-0.5em;right:0;}

/**** Bootstrap Carousel ****/
.carousel.carousel-fade .item {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity:0;
}

.carousel.carousel-fade .active.item {
    opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

.carousel.carousel-fade .carousel-control {
    z-index: 3;
}

.gs-carousel .carousel-control{background: none;display:none;}
.gs-carousel:hover .carousel-control.left{
    display:block;
    background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.2) 0),color-stop(rgba(0,0,0,0.0001) 100%));
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.2) 0,rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.gs-carousel:hover .carousel-control.right{
    display:block;
    background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.0001) 0),color-stop(rgba(0,0,0,0.2) 100%));
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.0001) 0,rgba(0, 0, 0, 0.2) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}



/**** nav ****/
.nav > li > a {
    padding:8px 10px;
    border-radius:2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-weight:normal;
}
.nav >.nav-li-bg>a{border:1px solid #66CDCC;}

.nav > li.nav-li-bg > a:hover,
.nav > li.nav-li-bg > a:focus {
    background-color: #64CBCB;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background:none;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
/**** Site Header ****/
#site-header>.navbar{margin-bottom:0;border-bottom: 1px solid #E4E6E3;border-radius:0;}
#site-header>.navbar .navbar-toggle {margin-top:0;border-color: #DDD;}
#site-header>.navbar .navbar-toggle .icon-bar {background-color: #888;}
#site-header>.navbar .navbar-toggle:hover, #site-header>.navbar .navbar-toggle:focus{background-color: #DDD;}
#site-header>.navbar ul.dropdown-menu{min-width:120px;}
#site-header>.navbar ul.dropdown-menu>li>a{padding:3px 10px;}
#site-header .gs-header{padding:16px 30px;}    
#site-header .gs-header .navbar-form{margin:0;}
#site-header .gs-header .navbar-form input,#site-header .gs-header .navbar-form button{height:36px;}
/*#site-header button.navbar-toggle{margin-top:0;}*/
#site-header .navbar-nav>li{padding-right:12px;}
#site-header .nav.color-reverse>li>a{color:#fff;}
#site-header #trip-searchbar{padding-left:0;padding-right:0;}
#site-header #trip-searchbar .twitter-typeahead{width:100%;}
#site-header #trip-searchbar #locationInput{min-width:230px;}
#site-header .navbar-collapse.in{position:absolute;width:100%;padding:10px 15px;z-index:999;border:1px solid #777;border-radius:4px; background-color:#222; opacity:0.9}
#site-header .navbar-collapse.in ul>li>a{padding:6px;color:#fff;border-radius:4px;font-size:1.2em;}
#site-header .navbar-collapse.in ul>li>a:hover{background-color:#777;}
#site-header .navbar-collapse.in .divider{border-color:#777;}


#header{padding: 16px 30px;min-height:70px;border-bottom:1px solid #E4E6E3;}
#header .nav-mt8{margin-top:0;}
#header .dropdown ul.dropdown-menu{width:100%;}
#header .dropdown ul li{position:relative;}
#header .dropdown a .text{margin:0 4px 0 10px;} 
#header .dropdown a .badge{position: absolute;font-size: 0.8em;}

#gs-logo{
    display:block;
    width:227px;
    height: 36px;     
    padding:0;
    background: url(../images/gs-logo.png) no-repeat 0 0; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}
/*
#header .searchbar-sm{float:left;}
#header .searchbar-sm #locationInput{width:250px;}
#header .searchbar-sm #search-btn{padding:6px 16px;}
#header .searchbar-sm #locationInput,#header .searchbar-sm #search-btn{height:36px;}
*/
#header .nav > li .dropdown-menu {
    margin: 0;
}
#header .nav > li:hover .dropdown-menu {
    display: block;
}
#header .dropdown-menu {
    background-color:#404040;
    min-width:108px;
    border-radius:0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow:none;
}
#home-slider{display:none;}

/*################ Footer ################################*/
#footer {
    width:100%;
    padding:20px 0;
    background-color:#2B2D2E;
    color:#fff;
}
#footer p {margin:10px 0 20px;}
#footer a {
    padding:0 15px;
    color:#eee;
}
#footer ul{
    width: 800px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
}
#footer ul li a:hover{
    text-decoration: underline;
}

/**** Home Page Top Trip ****/
.trip-list .row-space .cell{height:314px;}

.panel-trip{position:relative;overflow: hidden;background-color:#F3F3F3;}
/*.panel-trip:hover{cursor: pointer;-moz-box-shadow:  0 0 10px #aaa;-webkit-box-shadow: 0 0 10px #aaa;box-shadow: 0 0 10px #aaa;}*/
/*.panel-trip:hover{-moz-box-shadow:  0 0 5px gold;-webkit-box-shadow: 0 0 5px golden;box-shadow: 0 0 10px #aaa;}*/
.panel-trip .panel-image{width:100%;height:100%;max-height: 200px;overflow: hidden;}
.panel-trip .panel-image a{display:block;width:100%;height:100%;min-height: 200px;overflow:hidden;}
/*.panel-trip .panel-image img{width:100%;min-height: 100%;}*/
.panel-trip .panel-image img{width:100%;height: 100%;min-height: 100%;}
.trip-list .row-space .cell-2 .panel-image img{width:100%;height:auto;}
.panel-trip .panel-price{
    position: absolute;
    top:120px;
    left: 0;
    height:43px;
    padding: 7px 10px;
    background-color: #3C3F40;
    background-color: rgba(60, 63, 64, 0.9);
    color: #FFF;
}
.panel-trip .panel-price span{}
.panel-trip .highlight{padding:20px 14px;color:#fff;}
.panel-trip .panel-body{height:104px;padding:0 8px;}
.panel-trip .panel-body:before{content:none;}
.panel-trip .panel-body:after{content:none;}
.panel-trip .panel-body .profile-picture{position:relative;top:-40px;width:60px; height:60px;border:2px solid #fff;overflow: hidden;}
.panel-trip .panel-body .profile-picture:hover{
    margin-right:10px;
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    -moz-transform:  scale(1.5);
    transform:scale(1.5);
}
.panel-trip .panel-body .profile-picture img{width:56px;height:56px;}
.panel-trip .panel-body .title{height:20px; margin:10px 0 8px 0;font-size:1.1em;}
.panel-trip .panel-body .description{position: absolute;height: 40px;padding:0;overflow: hidden;}
.panel-trip .panel-body .description a{display: block;/*width:306px;height:100%;*/padding-right:10px;/*white-space: nowrap;*/text-overflow: ellipsis;overflow: hidden;}
.panel-trip .row-category{position:absolute;bottom:0;width:100%;height:29px;}
.panel-trip .trip-category-list{position:absolute;bottom:0;max-width:75%;height:23px;margin:0 0 6px 0;overflow: hidden;}
.trip-category-list .category-label{
    background-color: #676767;
    color: #FFF;
    font-size: 12px;
    float: left;
    margin-right: 8px;
    text-align: center;
    line-height: 23px;
    padding: 0 10px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.trip-category-list .category-label:first-child{background-color:#ec6853;}
/*.panel-trip.overlay-on-hover:hover>.overlay{display:block;width:100%;height:100%;}*/

/**** Home Page Top Location ****/
.top-location{padding:0;margin:0 auto;}
/*.top-location div{padding:0;}*/
.panel-location .overlay-on-hover:hover .overlay{opacity:0.1;}
.top-location a{display:block;color:#fff;}
.top-location a .location-image{    
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: scroll;   
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.top-location .cell, .top-location a .location-image{height:314px;}
.top-location .location-name{position:relative;font-size:2.5em;top:132px;margin:0;background:rgba(0, 0, 0, 0.4);}
/*.top-location a, .top-location a .location-image,.top-location a .overlay{width: 313px;} */
.top-location .sg .location-image{
    background-image: url(../images/top-location/sg.jpg);
}
.top-location .london .location-image{
    background-image:url(../images/top-location/london.jpg);
}
.top-location .tokyo .location-image{
    background-image:url(../images/top-location/tokyo.jpg);
    background-position: -30px 0;
}
.top-location .taipei .location-image{
    background-image:url(../images/top-location/taipei.jpg);
    background-position: -160px 0;
}
.top-location .hk .location-image{
    background-image:url(../images/top-location/hk.jpg);
}
.top-location .usa .location-image{
    background-image:url(../images/top-location/usa.jpg);
}
.top-location .jpn .location-image{
    background-image:url(../images/top-location/jpn.jpg);
}
.top-location .esp .location-image{
    background-image:url(../images/top-location/esp.jpg);
}
.top-location .cad .location-image{
    background-image:url(../images/top-location/cad.jpg);
}


/** Show first image while loading **/
.flexslider .slides > li:first-child {display: block; -webkit-backface-visibility: visible;} 
.show-slider .slides>li{/*height:414px;*/height:auto;}
/*a:hover{text-decoration: none;}*/
.divider{border-bottom:1px solid #EEE;}
.divider-dotted{border-bottom: 1px dotted #CCC;}
.noborder{border:none !important;}
.noborder-top{border-top:none !important;}
.noborder-right{border-right: none !important;}
.no-box-shadow{box-shadow:none !important;}
.no-bg{background: none;}
span.required{color:red;}
form .control-label{line-height: 34px;}
form .errorMessage{font-size:13px;color:red;}
form .errorSummary{
    border: 2px solid #C00;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #FEE;
}

div.datetime-picker{width:258px;}

/**** Trip Page ****/
#trip-page .tab-content{padding:20px;}
#trip-page .highlight ul li .icon{display:inline-block;width:24px;margin-top:5px;vertical-align: top;}
#trip-page .highlight ul li p.text{display:inline-block;width:90%;margin: 0;}

#trip-page .trip-status-label{display:inline-block;padding:6px 12px;margin:0 4px; border:1px solid #fff;color:#fff;}
/*#trip-page .trip-controls{position:absolute;top:0;right:0;padding:4px 15px; margin-right:-15px; background-color: #727272;}*/
#trip-page .trip-controls{position:relative;top:-20px;display:inline-block;padding:4px 15px; margin-right:-15px; float:right;background-color: #727272;}
#trip-page .trip-controls .btn{margin: 4px;}
#trip-page .trip-slideshow ul.slides{overflow: hidden;}
#trip-page .trip-specs .row{margin-bottom:6px;line-height: 26px;}
#trip-page .trip-category-list .category-label{margin-top:3px;}
#trip-page .show-content .tab-pane{border:none;}
#trip-page .tab-heading{border-bottom: 2px solid #6cc;}
#trip-page .tab-heading .caption{
    padding: 13px 14px;
    display: inline-block;
    margin: 0;
    color:#fff;
    background-color: #6cc;
    border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}
#trip-page .content-row{margin-bottom: 15px;}  
#trip-page #tourguide img.dp{width:130px;height:130px;}
#trip-carousel .carousel-inner .item img{max-height: 100%;margin:0 auto;}

/**** User Account ****/

.tab-container {
    margin-top:-1px;
}
.tab-container .active {
    background-color: #FFF;
    border-color: #CFCFCF;
    border: 2px solid #CFCFCF;
}

.tab-container .tab-pane {
    padding:0 10px;
}

.tab-container .row {
    margin:15px;
    border-bottom:2px dotted #CFCFCF;
}

.tab-container .content {
    margin-top:10px;
    padding:10px;
    border:2px solid #CFCFCF;
}
#container-account img.img-thumbnail{width:170px;height: 170px;}
.tab-container .tab-content{min-height: 250px;}
.tab-container .tab-content .img-rounded{width:60px;height:60px;}
.tab-container .tab-content .date{position:absolute;right:30px;}

/**** Sidebar-right ****/
.sidebar-right{width:240px;float:right;}
.sidebar-right .link-btn{font-size:0.8em;color:#428BCA;}
.sidebar-right .link-btn:hover{text-decoration: underline;}
.sidebar-right .content-row{margin-bottom: 4px;}

.sidebar-right .booking-info{padding:20px;float:right;border:1px solid #eee;background-color: #EBF5FF;}
.sidebar-right .booking-info label{display:inline-block;width:40%;padding:2px; font-weight: bold;}
.sidebar-right .booking-info span{display:inline-block;width:60%;vertical-align:top;}
.sidebar-right .booking-info h4{margin-top:20px;padding-bottom:6px;border-bottom: 2px solid #C9CFD5;}
.sidebar-right .button-wrapper{width:180px; margin:0 auto 10px auto;}
.sidebar-right #action-confirm-wrapper{padding:0 14px;margin-top:6px;}

/**** Pagination ****/
ul.yiiPager li{margin:0 1px;}
ul.yiiPager li a{float:none !important;font-size:1em;}
ul.yiiPager .selected a{background:#66CDCC;}



/**** Buttons ****/
.btn-row{margin:10px 0;}
.btn{
    display: inline-block;
    margin-bottom: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.43;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*button.btn{padding-top:7px;padding-bottom: 7px;}*/
.btn-long{padding-left:40px;padding-right:40px;}
.btn-long-sm{padding-left:40px;padding-right:40px;}
.btn-white{
    color: #333;
    background-color: #FFF;
    border-color: #AAA;
}
.btn-white:hover{
    color: #333;
    background-color: #FFF;
    border-color: #333;
}
.btn-orange{
    color: #fff;
    background-color: rgba(255, 102, 50, 0.9);
    border-color: #FF6633;
    border-bottom-color: #E6430C;
}
.btn-orange:hover{background-color: #FF6633 !important;}
.btn-grey{
    color: #FFF;
    background-color: #9FA0A0;
    border-color: #A3A3A3;
    border-bottom-color: #888;
}
.btn-grey:hover{background-color: #999;}
.btn-blue {
    color:#FFF;
    background-color: #61CCCB;
    border-color: #CEE9F0;
}
.btn-red {
    color:#FFF;
    background-color: #E01C2C;
    border-color: #FC3949;
}



.btn-grey-1 {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.btn-grey-1:hover {    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
    color:#777;
}
.btn-grey-1:active {
    position:relative;
    top:1px;
}
.delete-cross{position: absolute;top:10px; right:10px;font-size:1.2em;color:#f00;}
.delete-cross:hover{right:8px;font-size:1.4em;}



/**** Temp****/
#howtostart:hover{cursor:pointer;}
.start-steps{display:none;margin-bottom:60px;}
.start-steps .start-steps-image{margin-bottom:40px;}
.start-steps img{margin:0 auto;}
/**** Trip Category ****/
.trip-category-nav-wrapper{display:inline-block;margin:0 auto;}
.trip-category-nav{padding:0;margin:0 auto; }
.trip-category-nav li{background-color: #fff;padding:8px 21px;margin:0;}
.trip-category-nav .nav-item{
    width:66px;
    height:42px;
    margin:6px;
    text-align: center;
}

.trip-category-nav li.first{border-top-left-radius:4px;border-bottom-left-radius:4px;}
.trip-category-nav li.last{border-top-right-radius:4px;border-bottom-right-radius:4px;}
.trip-category-nav input[type=checkbox]{display:none;}

/*.trip-category-nav{padding:0;margin:0;}*/
/*.trip-category-nav li{padding:8px 22px;}*/
.trip-category-nav li:hover, .trip-category-nav li.active{background-color: #4fc7c8; cursor:pointer;}

.trip-category-nav.small li{padding:4px 10px;}
.trip-category-nav.small .nav-item{margin:0;}

/*
.class-nav .NATURE {
    background-image:url(../images/ziran2.png);
}
.class-nav li:hover .NATURE,.class-nav li.active .NATURE{
    background-position: 0 42px; 
}
.class-nav .FOOD {
    background-image:url(../images/ziran2.png);
    background-position:-66px 0px;
}
.class-nav li:hover .FOOD,.class-nav li.active .FOOD{
    background-position: -66px 42px; 
}

.class-nav .LEISURE {
    background-image:url(../images/ziran2.png);
    background-position:-132px 0px;
}
.class-nav li:hover .LEISURE,.class-nav li.active .LEISURE{
    background-position: -132px 42px; 
}
.class-nav .CULTURE{background-image: url(../images/icon-culture.png);}
.class-nav .SHOPPING {
    background-image:url(../images/ziran2.png);
    background-position:-194px 0px;
}
.class-nav li:hover .SHOPPING,.class-nav li.active .SHOPPING{
    background-position: -194px 42px; 
}

.class-nav .ATTRACTION {
    background-image:url(../images/ziran2.png);
    background-position:-248px 0px;
}
.class-nav li:hover .ATTRACTION,.class-nav li.active .ATTRACTION{
    background-position: -248px 42px; 
}

.class-nav .BIZ {
    background-image:url(../images/ziran2.png);
    background-position:-300px 0px;
}
.class-nav li:hover .BIZ,.class-nav li.active .BIZ{
    background-position: -300px 43px; 
}

.class-nav .EDUCATION {
    background-image:url(../images/ziran2.png);
    background-position:-368px 0px;
}
.class-nav li:hover .EDUCATION,.class-nav li.active .EDUCATION{
    background-position: -368px 42px; 
}
*/


.trip-category-nav .CULT{background-image:url(../images/icons/cult.png);}
.trip-category-nav li:hover .CULT,.trip-category-nav li.active .CULT{background-image:url(../images/icons/cult2.png);}

.trip-category-nav .PBIZ{background-image:url(../images/icons/pbiz.png);}
.trip-category-nav li:hover .PBIZ,.trip-category-nav li.active .PBIZ{background-image:url(../images/icons/pbiz2.png);}

.trip-category-nav .ENT{background-image:url(../images/icons/ent.png);}
.trip-category-nav li:hover .ENT,.trip-category-nav li.active .ENT{background-image:url(../images/icons/ent2.png);}

.trip-category-nav .NAT{background-image:url(../images/icons/nat.png);}
.trip-category-nav li:hover .NAT,.trip-category-nav li.active .NAT{background-image:url(../images/icons/nat2.png);}

.trip-category-nav .FOOD{background-image:url(../images/icons/food.png);}
.trip-category-nav li:hover .FOOD,.trip-category-nav li.active .FOOD{background-image:url(../images/icons/food2.png);}


.trip-category-nav .SHOP{background-image:url(../images/icons/shop.png);}
.trip-category-nav li:hover .SHOP,.trip-category-nav li.active .SHOP{background-image:url(../images/icons/shop2.png);}

.trip-category-nav .INST{background-image:url(../images/icons/inst.png);}
.trip-category-nav li:hover .INST,.trip-category-nav li.active .INST{background-image:url(../images/icons/inst2.png);}

.trip-category-nav .OTHER{background-image:url(../images/icons/other.png);}
.trip-category-nav li:hover .OTHER,.trip-category-nav li.active .OTHER{background-image:url(../images/icons/other2.png);}


/**** User Page ****/
#user-page{/*max-width:800px;*/margin-left:auto;margin-right:auto;}
#user-page .box{padding: 20px 10px 40px 10px;}
#user-page .user-info{min-height: 600px;}
#user-page .user-info .panel-heading,#user-page .user-info .sub-heading{padding:0;border-bottom: 2px solid #66CDCC ;}
/*#user-page .panel-user{width:165px;}*/
/*#user-page .panel-user .profile-picture{height: 165px;width: 165px;}*/
/*#user-page .panel-user .profile-picture img{width:100%;max-height: 100%;}*/
#user-page .panel-user .profile-picture img{width:auto; height:100%;max-height: 100%;margin-left:auto;margin-right:auto;}
#user-page .panel-user .username{text-align: center;}
#user-page .panel{border:none;/*border-bottom:1px solid #DCE0E0;*/box-shadow:none;}
#user-page .panel-header, #user-page .panel-body{background: none;}
#user-page .panel-body ul li .list-text{margin-left:10px;}
#user-page .profile-info{line-height: 1.6;}
#user-page .profile-info .row{margin-top:10px; margin-bottom:10px;}
#user-page .profile-info x.col-label {display:inline-block;width:175px;padding-right:4px;}
#user-page .profile-info  .col-content{display:inline-block;max-width:440px;margin-left: 4px;}
#user-page .verification .status{display:inline-block;padding-right: 20px;}
#user-page .verification .status .glyphicon{margin-left: 4px;}
#user-page .row .col-label , #user-page .row .col-content{xvertical-align: top;}
#user-page .side-panel .panel-nav .nav a.active{font-weight: bold;}

/**** User Page Trip List ****/
#user-page .tg-trip-list{padding-left:0;padding-right:0;}
#user-page .tg-trip-list .heading{padding:0 10px; border-bottom: 2px solid #FF6633;}
#user-page .tg-trip{position:relative; padding: 10px 0 30px 20px;}
#user-page .tg-trip .trip-controls{padding-left: 10px;position:relative;top:10px;right:10px;}
#user-page .tg-trip .trip-title{margin-top:30px;}
#user-page .tg-trip .trip-status{top:-0.2em;margin-left:20px;}
#user-page .tg-trip .trip-summary{margin-top:10px;margin-bottom: 20px;}
#user-page .tg-trip .trip-image img{width:310px; height:200px;}
#user-page .tg-trip .trip-image .gradient-pane{
    position: absolute;
    top:0;
    right:0;
    width:140px;
    height:200px;
    z-index:1;
    background: -webkit-linear-gradient(left,  rgba(255, 255, 255, 0) , #FFF); 
    background: -o-linear-gradient(right,  rgba(255, 255, 255, 0) , #FFF); 
    background: -moz-linear-gradient(right,  rgba(255, 255, 255, 0) , #FFF);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) , #FFF);
}
#user-page .trip-image .flexslider{border:none;box-shadow:none;border-radius:0;background: none;}
#user-page .tg-trip-list .btn-trips{margin-top:16px;}
#user-page .tg-trip-list .btn-trips.active{
    color: #fff;
    background-color: rgba(255, 102, 50, 0.9);
    border-color: #FF6633;
    border-bottom-color: #E6430C;
}
#user-page .tg-trip-list .tg-trip:hover{cursor:pointer;}

.center-panel .panel-heading .panel-control{position: absolute;top: 26px;right: 12px;}
.center-panel .panel-heading ul.panel-control li a{margin-left:4px;}




/**** User Top Menu ****/
.panel-user-menu{max-width: 800px;padding:0;margin:0 auto;color:#fff;}
.panel-user-menu ul{margin:0;}
.panel-user-menu a{color:#CACCCD;padding:10px 14px;display: block;position:relative;float:left;}
.panel-user-menu a.active{border-bottom:2px solid #ccc;}
.panel-user-menu a:hover,.panel-user-menu .active{color:#fff;}
.panel-user-menu  a[aria-selected="true"]:before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 14px;
    right: 14px;
    height: 4px;
    background:#eee;
}
.panel-user-menu a[aria-selected="true"]{color:#fff;}



/**** My Bookings Page ****/
#my-bookings-page .user-info{padding-bottom:20px;}
#my-bookings-page .user-info .profile-picture{width:84px;height:54px;}
.panel-booking-list .panel-booking{position:relative;padding:30px 15px;}
.panel-booking-list .panel-booking, #my-bookings-page .user-info{border-bottom: 1px solid;border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #EEE;}
.panel-booking .badge{position:absolute;top:4px;right:10px;padding:3px 7px; font-size:1em;}
.panel-booking .inner{position:relative;padding:0 15px;}
.panel-booking .booking-image img{width:218px;height: 148px;}
.panel-booking .booking-image .profile-picture img{width:148px; margin: 0 auto;}
.panel-booking .booking-detail{max-height:100px; overflow:hidden; word-wrap: break-word;word-break: break-all;}
.panel-booking .btn-group{position: absolute;bottom:0;right:15px;//top:80px;}
.panel-booking.darken-on-hover:hover ul.slides{background-color: #eee;}
.booking-status{margin-left:10px;}
.booking-status .label{background-color:#999;}
/*.booking-status .status-1{background:#D9534F;}*/
.booking-status .status-1{background:#999;}
.booking-status .status-2{background-color:#F0AD4E;}
.booking-status .status-3{background-color: #5CB85C;}
.booking-status .status-4{background-color:#428BCA;}



/**** Tool Tip ****/
.questionMark {
    position:relative;
    height:26px; /*dimensions of our image*/
    width:26px;
    background:url(../images/icons/questionMark.gif) top left no-repeat;
}
.toolTip {
    position:absolute;
    left:26px; /*Moves it to the right beside the question mark*/
    top:0;
    display:none;
    /*The attributes below make it look pretty*/
    width:100px;
    padding:5px;
    border:1px solid #ffffff;
    background-color:#eeeeee;
    font:10px/12px Arial, Helvetica, sans-serif;
}

/**** Pagination Bootstrap****/
.pagination>li>a, .pagination>li>span{color:#66CCCC;}

.alipay{width: 79px; height: 48px;background: url(../images/icons/alipay.jpg) no-repeat 0 0;}
/*@media (min-width: @screen-sm-min)*/
@media screen and (min-width:768px){      

    #header-container{
        position:relative;
        height:600px;
        background:url(../images/header-bg.jpg) no-repeat 0 0;
        background-attachment: scroll;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    /*#gs-logo{margin-right:40px;float:left;}*/
    #gs-logo{margin-right:40px;}
    /*  #header .searchbar-sm{float:left;}*/
    #header .nav{float:right;}
    #header ul li.dropdown{margin-right:20px;}
    #searchbar{
    }
    #home-searchbar-full {
        position:relative; top:422px;
        width:100%;
        min-width:507px;
        left:0;
        padding:20px 0;
        background-color:rgba(0, 0, 0, 0.7);
        z-index:1;
    }
    #home-searchbar-full #locationInput{width:350px;}
    .trip-list  .row-space .cell-col-2{height:658px;}
    .trip-list .cell-col-2 .panel-image{max-height: 544px;}
    .registerbox,.centerbox{padding-bottom:30px;margin-top:5%;}

    .trip-page  .trip-slideshow ul.slides li{width:580px;height:400px;overflow: hidden;}
    .trip-page  .trip-slideshow ul.slides li img{width:auto;/*height:100%;*/max-height: 100%;margin:0 auto;}
    #trip-page #trip-carousel .carousel-inner{height: 400px;}
}


@media screen and (max-width:767px){

    html,body{height:100%;}    
    h2{margin:14px 0!important;font-size:1.5em;}
    .page-container{width:100%;padding-left:10px;padding-right:10px;} 
    .nav > li > a{padding:2px;}
    .nav-li-bg a{font-size:0.8em;}
    .caret{margin-left:0;}
    .btn{font-weight: normal; border-radius:0 !important; -moz-border-radius: 0;-webkit-border-radius: 0;}
    .btn-grey-1{padding-left:14px !important; padding-right:14px !important;}
    .btn-long-sm{padding-left:12px;padding-right:12px;}
    /* .btn-orange{font-size:0.8em;font-weight: normal;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-bottom: 1px solid  #FF6633;}*/
    .hide-sm{display:none !important;}
    .left-sm{float:left !important;}
    .text-left-sm{text-align:left !important;}
    .block-sm{display:block !important;}
    .fix-padding-sm{padding-left:0 !important;padding-right:0 !important;}
    ul li p{font-size:1.3em;}

    ul.slides li{width:auto;height:auto;overflow: hidden;}
    ul.slides li img{width:auto;height:auto;max-height: 100%;margin:0 auto;}
    #trip-page #trip-carousel .carousel-inner{height: 300px;}

    #header{padding:10px 2px 30px 2px;height:30px;min-height:30px;border:none;}
    #site-header .gs-header{padding:10px 15px;}   
    #gs-logo{
        width: 113.5px;
        height: 18px;
        margin:8px 0 0 15px;     
        background: url(../images/gs-logo.png) no-repeat 0 0 scroll; 
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    /*
    #header .searchbar-sm{display:block;width:100%;margin:14px auto;}
    #header .searchbar-sm #locationInput{width:250px;}
    #header .searchbar-sm #search-btn{padding:6px 16px;}
    #header .searchbar-sm #locationInput,#header .searchbar-sm #search-btn{height:30px;}
    */
    #header .nav{position:absolute;top:10px;right:10px;}
    #header .dropdown a .text{margin:0 4px;}


    #footer a{padding:0;}
    #footer ul{width:100%;}
    #footer ul li{display:inline-block;width:20%;padding:6px;}
    #searchbar{
        position:relative;
        left:0;
        width:100%;
        min-width:300px;
        font-size:0.8em;
        over-flow:auto;
        /* background-color:#999;*/
        background:none;
    }

    #searchbar .control-wrapper{padding:10px 2px;background:none;}
    #searchbar #locationInput{width:190px;}
    #searchbar #category{}
    #searchbar #search-btn{padding-left:12px;padding-right:12px;font-size:1em;}

    .top-location .row-space, .trip-list .row-space{margin:0;}
    .top-location .cell, .trip-list .cell, .trip-list{width:100%;padding:0;margin-bottom:30px;}
    .top-location .location-image{background-size:cover !important;background-position: 0 0 !important; background-repeat: no-repeat;}

    #user-page .tg-trip{padding-left:0;}

    #my-bookings-page .panel-control{margin:20px 0 10px 0;}
    #my-bookings-page .panel-control .btn-group{display:block;}    
    .panel-booking-list .panel-booking .booking-price{display:block;width:100%;margin-top:20px;}
    .panel-booking-list .panel-booking .booking-price .btn-group{position:absolute;top:0;right:0}

    /* #body-container{margin-top:50px;}*/
    .trip-category-nav{margin-bottom:10px;}
    .trip-category-nav li{padding:0 10px;margin:0 8px 8px 0;border-style:solid;}
    .trip-category-nav .nav-item{display:none;}
}

@media screen and (min-width:600px) and (max-width:768px){

}

@media screen and (min-width:768px) and (max-width:991px){
    #site-header .gs-header{padding-right:15px;}
    #gs-logo{margin-right:15px;}
    #site-header #trip-searchbar #locationInput{min-width:220px;}
}



