/*body{font-family:黑体;font-size:16px;}*/
a.qq {font-size:16px; margin: 5px; padding: 5px; border-bottom: solid 3px #F2F2F2; color: #808080; margin: 0px 0px 15px;}
a.qq:link,a.qq:visited { text-decoration:none; color: #808080;  margin: 0px 0px 15px;text-decoration:none; color: #808080;}
a.qq:hover {color: #4c595c; border-bottom: solid 3px #F56734;text-decoration:none; margin: 0px 0px 15px;}
a.qqcurrent {font-size:16 px; margin: 5px; padding: 5px; border-bottom: solid 3px #F56734; color: #808080; margin: 0px 0px 15px;}
.container{
    max-width:1200px;
}
.media{
    margin-top: 25px;
}
ul { list-style: none;}
.title{
    font-size:36px;
    color:#19aea5;
    padding:10px 0;
    text-align:center;
    font-weight:bold;
}

#content .main p{
    line-height:1.7;
    margin-bottom: 6px;
}

.main>.row{
    margin-left:0px !important;
    margin-right:0px !important;
}
.group-bg{
    padding:10px 0;
    background:url(../images/faculty/zhuanjia-bg.jpg);
    margin-bottom:20px;

}
.mb10{
    margin-bottom:10px;
}
.img-center{
    width: 130px;
    height: 130px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display:block;
    margin:0 auto;
    overflow: hidden;
}
.img100{
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display:block;
    margin-right:0;
}
.mt21{
    margin-top:21px;
}
.fixed-booking{
    max-width:300px;
}
.star{color: #EFA429;font-size:15px;}

a{
    color:#4c595c;
}

a:hover, a:focus, #header .social-nav li.phone:hover span, .services .service:hover h4 a, #content .faq-unit:hover h4.faq-question, #content .faq-unit.active h4.faq-question, #comments .comment .date a:hover time, .gallery-item .item-title a:hover, .gallery-item .item-type-link a:hover, .post-meta span a:hover{
    color:#f56734;
}

.doc-img{
    margin:10px 0;
}

.text-bold{
    font-weight:bold;
}
.main h3{
    color:#19aea5;
}
.color-phone{
    color:#dd5164!important;
}
.media-heading>.expert-atitle{    
    border-right: 1px solid #d4d4d4;
}
.media-heading>.expert-mtitle{
    color :#000;
}
.expert-desc{
    font-size: 12px;
    letter-spacing: 1.5px;
}

.textIndent2{
    text-indent: 2em;
}
.text>p{
    font-size:16px;
    color:#19aea5;
}
.media-object{
    border:1px solid #d4d4d4;
}

#content ul{ margin:0px 0px 20px; padding-left: 0;}
#content .main ul li{ background:url(../images/faculty/li-bullet.png) no-repeat 5px 16px; border-bottom:1px dashed #d4d4d4; padding:6px 0px 6px 15px; }
#content .main ol li{ background:none; border-bottom:1px dashed #d4d4d4; padding:10px 0px 10px 5px; list-style:decimal inside; }

.form-border{border:1px solid #e4e4e4;}




