#site-content{padding-bottom: 0px!important;}
#awards .awards-header{background-image: url(../images/event/awards/bg-header.jpg);}
#awards .awards-title{background-image: url(../images/event/awards/wire.png);background-position: center center;background-repeat: no-repeat;text-align: center;}
#awards .awards-title>span{font-size: 20px;background-color: #fff;color: #f04942;padding: 10px 50px;border-radius: 5px;}
#awards .awards-content{background-color:#dedcc6;padding: 60px 0 100px;}
#awards .awards-content .imgbxslider{background-image: url(../images/event/awards/kuang.png);background-repeat: no-repeat;background-size: 100% 100%;padding: 5px;min-height: 448px;}
#awards .awards-content .bx-next,#awards .awards-content .bx-prev{background-color: rgba(50%,50%,50%,0.5);width: 45px;height: 46px;border-radius: 50%;background-size: 50%;background-position: center center;}
.bx-wrapper .bx-controls-direction a{margin-top: -30px!important;}
#awards .awards-content .imgbxslider .bx-wrapper{margin-bottom: 0!important;}
#awards .awards-content .imgbxslider .bx-pager{display: none;}
#awards .awards-content .news-content{background-color: #f04942;padding: 10px 15px;color: #fff;min-height: 435px;line-height: 1.8em;}
#awards .awards-content .hope{padding: 0 15px;margin-top: 40px;color: #373332;line-height: 1.8em;}
@media screen and (min-width:1200px){#awards .awards-content .news-content{min-height: 542px;}#awards .awards-content .imgbxslider{min-height: 555px;}}
.textIndent2{text-indent: 2em;}

