/**** index ****/
.border-gary{border: 1px solid #e4e4e4;}
#site-content .content-img{border-bottom: 1px solid #e4e4e4;}
#site-content #hospitallist span{padding: 0 20px;}
#site-content #hospitallist span.active>a{color: #19aea5;}
#site-content #hospitallist .border-left{border-left: 1px solid #ddd;}
#site-content #hospitallist .city-content{margin-top: -10px;padding-top: 10px;display: none;}
#site-content #hospitallist .citylist{position: absolute;background-color: #fff;padding: 10px;z-index: 999;border: 1px solid #e4e4e4;box-shadow: 1px 2px 3px 2px #ddd;}
#site-content #hospitallist .citylist span{display: inline-block;}
#site-content #hospitallist .morecity:hover{cursor: pointer;}
#site-content .hlist{min-height: 413px;}
#site-content .hlist .media{padding: 10px;}
#site-content .hlist .media:hover {border: 1px solid #19aea5;box-shadow: 1px 1px 3px 3px #e4e4e4;}
.img130 {display: block;margin: 0 auto;width: 130px;height: 130px;border: 1px solid #ddd;overflow: hidden;}
.process{text-align: center;}
.process .process-title{padding: 4px 0;background-color: #19aea5;font-size: 24px;color: #fff;letter-spacing: 6px;}
.process .process-content{padding: 0px 0px 20px;border: 1px solid #e4e4e4;border-top: 0;}
.process img{display: block;margin: 0 auto;height: 20px;}
.process .step{text-align: center;color: #19aea5;padding: 10px 0 5px;font-size: 18px;}
.process .step-content{text-align: center;padding: 10px 0;}
/**** view ***/
.crumbs-header ul{padding: 10px; background-color: #19aea5;color: #fff;margin-bottom: 0;}
.crumbs-header ul li>a{color: #fff!important;}
.crumbs-header ul li{color: #fff;padding-left: 10px;}
.crumbs-hospital{background-color: #19aea5;margin-bottom: 20px;}
.crumbs ul{padding-left: 0px;}
.crumbs ul li{display: inline-block;}
.crumbs ul li>a{color: #19aea5;}
.crumbs ul li>a:hover{text-decoration: underline;}
.hinfo img{display: block;margin: 0 auto;}
.hdecs{padding: 0 20px 20px;min-height: 270px;}
.hdesc{font-size: 15px;text-indent: 2em;line-height: 1.7;margin-top: 10px;text-align:justify; text-justify: inter-ideograph;}
.hinfo img{max-width: 200px;}
.hinfo .more-desc,.hinfo .retract{margin-top: 3px;}
.hinfo .more-desc>a,.hinfo .retract>a{color: #EFA429;}
.hinfo .more-desc .fa,.hinfo .retract .fa{font-size: 18px;}
.hinfo .decs-last,.hinfo .retract{display: none;}
.departments{padding: 10px;}
.departments h4{padding: 5px 25px;background-color: #b1dcd6;color: #19aea5;}
.dept>a:hover{text-decoration: underline;color: #19aea5;}
.departments .dept-list {padding: 0 5px;margin-left: 15px;}
.departments .dept {padding: 5px;font-size: 15px;}
.dept-info{padding: 10px;display: none;}
.text18{font-size: 18px;}
.dept-info .media{padding: 20px 25px;border: 1px solid #e4e4e4;margin-top: 20px!important;}
.dept-info .media .expert-faculty{padding-left: 10px;}
.dept-info .media img{border:1px solid #e4e4e4;width: 150px;height: 209px}
.dept-info .media .expert-desc{font-size: 12px;}
.hospitalurl{overflow-x: hidden;}
.hospitalurl>a{display: inline-block;}
.hospitalurl>a:hover{text-decoration: underline;}
