#site-content{padding-bottom: 0px!important;}
#refundAgreement .head-title{background-color: #19aea5;font-size: 22px;text-align: center;padding: 20px 0;color: #eeca23;letter-spacing: 5px;}
#refundAgreement .angle-line{background-image: url(../images/general/angle-green.png);background-color: #f7f7f7;height: 5px;}
#refundAgreement .refund-content{padding: 30px 15px 50px;background-color: #f7f7f7;line-height: 2.5em;}
@media screen and (min-width:995px){#refundAgreement .refund-content{padding: 30px 100px 50px;}#refundAgreement .refund-content .table td{min-width: 9em;padding: 1em 2em;}}
#refundAgreement .refund-content .introduce{color: #19aea5;line-height: 2.5em;}
#refundAgreement .refund-content .title{margin-top: 10px;font-weight: bold;}
#refundAgreement .refund-content .table .tabletitle{font-size: 16px;font-weight: bold;text-align: center;color: #555555;padding: 0 1em;}
#refundAgreement .refund-content .table td{vertical-align: middle;line-height: 2em;}
#refundAgreement .refund-content .refund{padding-left: 2.5em;position: relative;}
#refundAgreement .refund-content .refund>.fa{position: absolute;color: #e50011;left: 1em;top: 0.8em;}
.color-red{color: #e50011;}